In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

/home/rebecca/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [32]:
zero_df = pd.read_csv("zero_df.csv")

In [33]:
zero_df = zero_df.drop(['Unnamed: 0'], axis=1)

In [34]:
zero_df['hour_of_day'] = [r.hour for r in pd.to_datetime(zero_df.Datetime)]
zero_df['month'] = [r.month for r in pd.to_datetime(zero_df.Datetime)]

In [35]:
zero_df['Datetime'] = pd.to_datetime(zero_df['Datetime'])

In [42]:
zero_df['date_only'] = zero_df['Datetime'].dt.date
zero_df['date_only'] = pd.to_datetime(zero_df['date_only'])

In [15]:
weather = pd.read_csv('../data/raw_data/weather_clean.csv')

In [28]:
weather.DATE.describe()
weather['DATE'] = pd.to_datetime(weather['DATE'])

In [46]:
zero_df = zero_df.merge(weather, how='left',left_on='date_only', right_on='DATE')

In [39]:
weather

,Unnamed: 0,DATE,AVG_WND_SPEED,PRCP,SNOW,SNOW_DEPTH,TAVG,TMAX,TMIN,FOG,THUNDER,SLEET_OR_HAIL
0,53,2015-04-23,15.21,0.00,0.0,0.0,48.0,52,43,0.0,0.0,0.0
1,54,2015-04-24,16.55,0.00,0.0,0.0,47.0,57,39,0.0,0.0,0.0
2,55,2015-04-25,9.17,0.00,0.0,0.0,48.0,58,37,0.0,0.0,0.0
3,56,2015-04-26,7.38,0.00,0.0,0.0,54.0,64,45,0.0,0.0,0.0
4,57,2015-04-27,11.18,0.00,0.0,0.0,54.0,60,48,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1618,1671,2019-09-27,4.92,0.00,0.0,0.0,69.0,79,58,0.0,0.0,0.0
1619,1672,2019-09-28,6.71,0.16,0.0,0.0,72.0,85,62,1.0,1.0,0.0
1620,1673,2019-09-29,7.16,0.00,0.0,0.0,76.0,82,67,1.0,0.0,0.0
1621,1674,2019-09-30,7.61,0.00,0.0,0.0,69.0,75,62,0.0,0.0,0.0
1622,1675,2019-10-01,8.28,0.00,0.0,0.0,71.0,84,65,0.0,0.0,0.0

In [47]:
zero_df

,Datetime,start_station_id,COUNT,Station_ID,Station_Name,Day of Go_live_date,Status,Neighborhood,Walk Score,Transit Score,...,AVG_WND_SPEED,PRCP,SNOW,SNOW_DEPTH,TAVG,TMAX,TMIN,FOG,THUNDER,SLEET_OR_HAIL
0,2015-04-23 07:00:00,3004.0,0.0,3004,Municipal Services Building Plaza,4/23/2015,Active,Logan Square,99.0,100.0,...,15.21,0.00,0.0,0.0,48.0,52,43,0.0,0.0,0.0
1,2015-04-24 00:00:00,3004.0,0.0,3004,Municipal Services Building Plaza,4/23/2015,Active,Logan Square,99.0,100.0,...,16.55,0.00,0.0,0.0,47.0,57,39,0.0,0.0,0.0
2,2015-04-24 07:00:00,3004.0,0.0,3004,Municipal Services Building Plaza,4/23/2015,Active,Logan Square,99.0,100.0,...,16.55,0.00,0.0,0.0,47.0,57,39,0.0,0.0,0.0
3,2015-04-25 04:00:00,3004.0,0.0,3004,Municipal Services Building Plaza,4/23/2015,Active,Logan Square,99.0,100.0,...,9.17,0.00,0.0,0.0,48.0,58,37,0.0,0.0,0.0
4,2015-04-25 06:00:00,3004.0,0.0,3004,Municipal Services Building Plaza,4/23/2015,Active,Logan Square,99.0,100.0,...,9.17,0.00,0.0,0.0,48.0,58,37,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
708809,2019-09-28 08:00:00,3190.0,0.0,3190,17th & Locust,9/14/2018,Active,Rittenhouse Square,100.0,100.0,...,6.71,0.16,0.0,0.0,72.0,85,62,1.0,1.0,0.0
708810,2019-09-29 02:00:00,3190.0,0.0,3190,17th & Locust,9/14/2018,Active,Rittenhouse Square,100.0,100.0,...,7.16,0.00,0.0,0.0,76.0,82,67,1.0,0.0,0.0
708811,2019-09-29 21:00:00,3190.0,0.0,3190,17th & Locust,9/14/2018,Active,Rittenhouse Square,100.0,100.0,...,7.16,0.00,0.0,0.0,76.0,82,67,1.0,0.0,0.0
708812,2019-09-30 00:00:00,3190.0,0.0,3190,17th & Locust,9/14/2018,Active,Rittenhouse Square,100.0,100.0,...,7.61,0.00,0.0,0.0,69.0,75,62,0.0,0.0,0.0
708813,2019-09-30 02:00:00,3190.0,0.0,3190,17th & Locust,9/14/2018,Active,Rittenhouse Square,100.0,100.0,...,7.61,0.00,0.0,0.0,69.0,75,62,0.0,0.0,0.0

In [54]:
df.columns.values

array(['Datetime', 'start_station_id', 'start_lat', 'start_lon',
       'hour_of_day', 'COUNT', 'AVG_WND_SPEED', 'PRCP', 'SNOW',
       'SNOW_DEPTH', 'TAVG', 'TMAX', 'TMIN', 'FOG', 'THUNDER',
       'SLEET_OR_HAIL', 'month', 'count_range', 'WEEKDAY', 'HOLIDAY',
       'Station_ID', 'Station_Name', 'Day of Go_live_date', 'Status',
       'Neighborhood', 'Walk Score', 'Transit Score', 'Bike Score',
       'Population'], dtype=object)

In [57]:
zero_df.columns.values

array(['Datetime', 'start_station_id', 'COUNT', 'Station_ID',
       'Station_Name', 'Day of Go_live_date', 'Status', 'Neighborhood',
       'Walk Score', 'Transit Score', 'Bike Score', 'Population',
       'WEEKDAY', 'HOLIDAY', 'hour_of_day', 'month', 'DATE',
       'AVG_WND_SPEED', 'PRCP', 'SNOW', 'SNOW_DEPTH', 'TAVG', 'TMAX',
       'TMIN', 'FOG', 'THUNDER', 'SLEET_OR_HAIL'], dtype=object)

In [51]:
df = df.drop(['Datetime.1', 'start_station_id.1'], axis=1)

In [56]:
zero_df = zero_df.drop(['Unnamed: 0', 'date_only'], axis=1)

In [59]:
#'start_lat', 'start_lon' 'count_range'
station_info = df.drop_duplicates('start_station_id')

In [61]:
station_info = station_info[['start_station_id', 'start_lat', 'start_lon']]

In [62]:
station_info

         start_station_id  start_lat  start_lon
0                  3004.0  39.953780 -75.163740
15813              3005.0  39.947330 -75.144030
27384              3006.0  39.952200 -75.203110
43246              3007.0  39.945170 -75.159930
64938              3008.0  39.980820 -75.149730
...                   ...        ...        ...
1442457            3210.0  39.984921 -75.156677
1442785            3206.0  39.951740 -75.170631
1443131            3202.0  39.951340 -75.167580
1443472            3201.0  39.955231 -75.166199
1443664            3209.0  39.949001 -75.212784

[146 rows x 3 columns]

In [63]:
zero_df = zero_df.merge(station_info, how='left',on='start_station_id')

In [64]:
zero_df

,Datetime,start_station_id,COUNT,Station_ID,Station_Name,Day of Go_live_date,Status,Neighborhood,Walk Score,Transit Score,...,SNOW,SNOW_DEPTH,TAVG,TMAX,TMIN,FOG,THUNDER,SLEET_OR_HAIL,start_lat,start_lon
0,2015-04-23 07:00:00,3004.0,0.0,3004,Municipal Services Building Plaza,4/23/2015,Active,Logan Square,99.0,100.0,...,0.0,0.0,48.0,52,43,0.0,0.0,0.0,39.953780,-75.163740
1,2015-04-24 00:00:00,3004.0,0.0,3004,Municipal Services Building Plaza,4/23/2015,Active,Logan Square,99.0,100.0,...,0.0,0.0,47.0,57,39,0.0,0.0,0.0,39.953780,-75.163740
2,2015-04-24 07:00:00,3004.0,0.0,3004,Municipal Services Building Plaza,4/23/2015,Active,Logan Square,99.0,100.0,...,0.0,0.0,47.0,57,39,0.0,0.0,0.0,39.953780,-75.163740
3,2015-04-25 04:00:00,3004.0,0.0,3004,Municipal Services Building Plaza,4/23/2015,Active,Logan Square,99.0,100.0,...,0.0,0.0,48.0,58,37,0.0,0.0,0.0,39.953780,-75.163740
4,2015-04-25 06:00:00,3004.0,0.0,3004,Municipal Services Building Plaza,4/23/2015,Active,Logan Square,99.0,100.0,...,0.0,0.0,48.0,58,37,0.0,0.0,0.0,39.953780,-75.163740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
708809,2019-09-28 08:00:00,3190.0,0.0,3190,17th & Locust,9/14/2018,Active,Rittenhouse Square,100.0,100.0,...,0.0,0.0,72.0,85,62,1.0,1.0,0.0,39.948921,-75.169907
708810,2019-09-29 02:00:00,3190.0,0.0,3190,17th & Locust,9/14/2018,Active,Rittenhouse Square,100.0,100.0,...,0.0,0.0,76.0,82,67,1.0,0.0,0.0,39.948921,-75.169907
708811,2019-09-29 21:00:00,3190.0,0.0,3190,17th & Locust,9/14/2018,Active,Rittenhouse Square,100.0,100.0,...,0.0,0.0,76.0,82,67,1.0,0.0,0.0,39.948921,-75.169907
708812,2019-09-30 00:00:00,3190.0,0.0,3190,17th & Locust,9/14/2018,Active,Rittenhouse Square,100.0,100.0,...,0.0,0.0,69.0,75,62,0.0,0.0,0.0,39.948921,-75.169907
708813,2019-09-30 02:00:00,3190.0,0.0,3190,17th & Locust,9/14/2018,Active,Rittenhouse Square,100.0,100.0,...,0.0,0.0,69.0,75,62,0.0,0.0,0.0,39.948921,-75.169907

In [65]:
df

,Datetime,start_station_id,start_lat,start_lon,hour_of_day,COUNT,AVG_WND_SPEED,PRCP,SNOW,SNOW_DEPTH,...,HOLIDAY,Station_ID,Station_Name,Day of Go_live_date,Status,Neighborhood,Walk Score,Transit Score,Bike Score,Population
0,2015-04-23 10:00:00,3004.0,39.953780,-75.163740,10:00:00,5,15.21,0.0,0.0,0.0,...,False,3004,Municipal Services Building Plaza,4/23/2015,Active,Logan Square,99.0,100.0,77.0,5137.0
1,2015-04-23 12:00:00,3004.0,39.953780,-75.163740,12:00:00,3,15.21,0.0,0.0,0.0,...,False,3004,Municipal Services Building Plaza,4/23/2015,Active,Logan Square,99.0,100.0,77.0,5137.0
2,2015-04-23 13:00:00,3004.0,39.953780,-75.163740,13:00:00,2,15.21,0.0,0.0,0.0,...,False,3004,Municipal Services Building Plaza,4/23/2015,Active,Logan Square,99.0,100.0,77.0,5137.0
3,2015-04-23 14:00:00,3004.0,39.953780,-75.163740,14:00:00,1,15.21,0.0,0.0,0.0,...,False,3004,Municipal Services Building Plaza,4/23/2015,Active,Logan Square,99.0,100.0,77.0,5137.0
4,2015-04-23 15:00:00,3004.0,39.953780,-75.163740,15:00:00,5,15.21,0.0,0.0,0.0,...,False,3004,Municipal Services Building Plaza,4/23/2015,Active,Logan Square,99.0,100.0,77.0,5137.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1443802,2019-09-30 11:00:00,3209.0,39.949001,-75.212784,11:00:00,1,7.61,0.0,0.0,0.0,...,False,3209,45th & Baltimore,9/11/2019,Active,Spruce Hill,94.0,85.0,99.0,14098.0
1443803,2019-09-30 12:00:00,3209.0,39.949001,-75.212784,12:00:00,1,7.61,0.0,0.0,0.0,...,False,3209,45th & Baltimore,9/11/2019,Active,Spruce Hill,94.0,85.0,99.0,14098.0
1443804,2019-09-30 13:00:00,3209.0,39.949001,-75.212784,13:00:00,1,7.61,0.0,0.0,0.0,...,False,3209,45th & Baltimore,9/11/2019,Active,Spruce Hill,94.0,85.0,99.0,14098.0
1443805,2019-09-30 14:00:00,3209.0,39.949001,-75.212784,14:00:00,1,7.61,0.0,0.0,0.0,...,False,3209,45th & Baltimore,9/11/2019,Active,Spruce Hill,94.0,85.0,99.0,14098.0
1443806,2019-09-30 18:00:00,3209.0,39.949001,-75.212784,18:00:00,1,7.61,0.0,0.0,0.0,...,False,3209,45th & Baltimore,9/11/2019,Active,Spruce Hill,94.0,85.0,99.0,14098.0

In [67]:
frames = [df, zero_df]
frames
result = pd.concat(frames)

/home/rebecca/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [68]:
result

,AVG_WND_SPEED,Bike Score,COUNT,DATE,Datetime,Day of Go_live_date,FOG,HOLIDAY,Neighborhood,PRCP,...,TMIN,Transit Score,WEEKDAY,Walk Score,count_range,hour_of_day,month,start_lat,start_lon,start_station_id
0,15.21,77.0,5.0,NaT,2015-04-23 10:00:00,4/23/2015,0.0,False,Logan Square,0.00,...,43,100.0,1,99.0,6,10:00:00,4,39.953780,-75.163740,3004.0
1,15.21,77.0,3.0,NaT,2015-04-23 12:00:00,4/23/2015,0.0,False,Logan Square,0.00,...,43,100.0,1,99.0,4,12:00:00,4,39.953780,-75.163740,3004.0
2,15.21,77.0,2.0,NaT,2015-04-23 13:00:00,4/23/2015,0.0,False,Logan Square,0.00,...,43,100.0,1,99.0,2,13:00:00,4,39.953780,-75.163740,3004.0
3,15.21,77.0,1.0,NaT,2015-04-23 14:00:00,4/23/2015,0.0,False,Logan Square,0.00,...,43,100.0,1,99.0,2,14:00:00,4,39.953780,-75.163740,3004.0
4,15.21,77.0,5.0,NaT,2015-04-23 15:00:00,4/23/2015,0.0,False,Logan Square,0.00,...,43,100.0,1,99.0,6,15:00:00,4,39.953780,-75.163740,3004.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
708809,6.71,85.0,0.0,2019-09-28,2019-09-28 08:00:00,9/14/2018,1.0,False,Rittenhouse Square,0.16,...,62,100.0,0,100.0,NaN,8,9,39.948921,-75.169907,3190.0
708810,7.16,85.0,0.0,2019-09-29,2019-09-29 02:00:00,9/14/2018,1.0,False,Rittenhouse Square,0.00,...,67,100.0,0,100.0,NaN,2,9,39.948921,-75.169907,3190.0
708811,7.16,85.0,0.0,2019-09-29,2019-09-29 21:00:00,9/14/2018,1.0,False,Rittenhouse Square,0.00,...,67,100.0,0,100.0,NaN,21,9,39.948921,-75.169907,3190.0
708812,7.61,85.0,0.0,2019-09-30,2019-09-30 00:00:00,9/14/2018,0.0,False,Rittenhouse Square,0.00,...,62,100.0,1,100.0,NaN,0,9,39.948921,-75.169907,3190.0
708813,7.61,85.0,0.0,2019-09-30,2019-09-30 02:00:00,9/14/2018,0.0,False,Rittenhouse Square,0.00,...,62,100.0,1,100.0,NaN,2,9,39.948921,-75.169907,3190.0

In [69]:
result.columns.values

array(['AVG_WND_SPEED', 'Bike Score', 'COUNT', 'DATE', 'Datetime',
       'Day of Go_live_date', 'FOG', 'HOLIDAY', 'Neighborhood', 'PRCP',
       'Population', 'SLEET_OR_HAIL', 'SNOW', 'SNOW_DEPTH', 'Station_ID',
       'Station_Name', 'Status', 'TAVG', 'THUNDER', 'TMAX', 'TMIN',
       'Transit Score', 'WEEKDAY', 'Walk Score', 'count_range',
       'hour_of_day', 'month', 'start_lat', 'start_lon',
       'start_station_id'], dtype=object)

In [70]:
result.set_index(['Datetime','start_station_id'], inplace=True, drop=False)

In [87]:
result

,,AVG_WND_SPEED,Bike Score,COUNT,Datetime,FOG,HOLIDAY,Neighborhood,PRCP,Population,SLEET_OR_HAIL,...,TMIN,Transit Score,WEEKDAY,Walk Score,count_range,hour_of_day,month,start_lat,start_lon,start_station_id
Datetime,start_station_id,,,,,,,,,,,,,,,,,,,,,
2015-04-23 10:00:00,3004.0,15.21,77.0,5.0,2015-04-23 10:00:00,0.0,False,Logan Square,0.00,5137.0,0.0,...,43,100.0,1,99.0,6,10,4,39.953780,-75.163740,3004.0
2015-04-23 12:00:00,3004.0,15.21,77.0,3.0,2015-04-23 12:00:00,0.0,False,Logan Square,0.00,5137.0,0.0,...,43,100.0,1,99.0,4,12,4,39.953780,-75.163740,3004.0
2015-04-23 13:00:00,3004.0,15.21,77.0,2.0,2015-04-23 13:00:00,0.0,False,Logan Square,0.00,5137.0,0.0,...,43,100.0,1,99.0,2,13,4,39.953780,-75.163740,3004.0
2015-04-23 14:00:00,3004.0,15.21,77.0,1.0,2015-04-23 14:00:00,0.0,False,Logan Square,0.00,5137.0,0.0,...,43,100.0,1,99.0,2,14,4,39.953780,-75.163740,3004.0
2015-04-23 15:00:00,3004.0,15.21,77.0,5.0,2015-04-23 15:00:00,0.0,False,Logan Square,0.00,5137.0,0.0,...,43,100.0,1,99.0,6,15,4,39.953780,-75.163740,3004.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-28 08:00:00,3190.0,6.71,85.0,0.0,2019-09-28 08:00:00,1.0,False,Rittenhouse Square,0.16,8524.0,0.0,...,62,100.0,0,100.0,NaN,8,9,39.948921,-75.169907,3190.0
2019-09-29 02:00:00,3190.0,7.16,85.0,0.0,2019-09-29 02:00:00,1.0,False,Rittenhouse Square,0.00,8524.0,0.0,...,67,100.0,0,100.0,NaN,2,9,39.948921,-75.169907,3190.0
2019-09-29 21:00:00,3190.0,7.16,85.0,0.0,2019-09-29 21:00:00,1.0,False,Rittenhouse Square,0.00,8524.0,0.0,...,67,100.0,0,100.0,NaN,21,9,39.948921,-75.169907,3190.0
2019-09-30 00:00:00,3190.0,7.61,85.0,0.0,2019-09-30 00:00:00,0.0,False,Rittenhouse Square,0.00,8524.0,0.0,...,62,100.0,1,100.0,NaN,0,9,39.948921,-75.169907,3190.0
2019-09-30 02:00:00,3190.0,7.61,85.0,0.0,2019-09-30 02:00:00,0.0,False,Rittenhouse Square,0.00,8524.0,0.0,...,62,100.0,1,100.0,NaN,2,9,39.948921,-75.169907,3190.0

In [88]:
result.to_csv("combined_df.csv")

In [103]:
result = pd.read_csv("combined_df.csv")

/home/rebecca/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [104]:
result.columns.values

array(['Datetime', 'start_station_id', 'AVG_WND_SPEED', 'Bike Score',
       'COUNT', 'Datetime.1', 'FOG', 'HOLIDAY', 'Neighborhood', 'PRCP',
       'Population', 'SLEET_OR_HAIL', 'SNOW', 'SNOW_DEPTH', 'TAVG',
       'THUNDER', 'TMAX', 'TMIN', 'Transit Score', 'WEEKDAY',
       'Walk Score', 'count_range', 'hour_of_day', 'month', 'start_lat',
       'start_lon', 'start_station_id.1'], dtype=object)

In [106]:
result = result.drop(['start_station_id.1','Datetime.1' ], axis=1)

In [76]:
result = result.drop(['Day of Go_live_date', 'Station_Name', 'Status', 'DATE'], axis=1)

In [107]:
result

,Datetime,start_station_id,AVG_WND_SPEED,Bike Score,COUNT,FOG,HOLIDAY,Neighborhood,PRCP,Population,...,TMAX,TMIN,Transit Score,WEEKDAY,Walk Score,count_range,hour_of_day,month,start_lat,start_lon
0,2015-04-23 10:00:00,3004.0,15.21,77.0,5.0,0.0,False,Logan Square,0.00,5137.0,...,52,43,100.0,1,99.0,6,10,4,39.953780,-75.163740
1,2015-04-23 12:00:00,3004.0,15.21,77.0,3.0,0.0,False,Logan Square,0.00,5137.0,...,52,43,100.0,1,99.0,4,12,4,39.953780,-75.163740
2,2015-04-23 13:00:00,3004.0,15.21,77.0,2.0,0.0,False,Logan Square,0.00,5137.0,...,52,43,100.0,1,99.0,2,13,4,39.953780,-75.163740
3,2015-04-23 14:00:00,3004.0,15.21,77.0,1.0,0.0,False,Logan Square,0.00,5137.0,...,52,43,100.0,1,99.0,2,14,4,39.953780,-75.163740
4,2015-04-23 15:00:00,3004.0,15.21,77.0,5.0,0.0,False,Logan Square,0.00,5137.0,...,52,43,100.0,1,99.0,6,15,4,39.953780,-75.163740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2152616,2019-09-28 08:00:00,3190.0,6.71,85.0,0.0,1.0,False,Rittenhouse Square,0.16,8524.0,...,85,62,100.0,0,100.0,NaN,8,9,39.948921,-75.169907
2152617,2019-09-29 02:00:00,3190.0,7.16,85.0,0.0,1.0,False,Rittenhouse Square,0.00,8524.0,...,82,67,100.0,0,100.0,NaN,2,9,39.948921,-75.169907
2152618,2019-09-29 21:00:00,3190.0,7.16,85.0,0.0,1.0,False,Rittenhouse Square,0.00,8524.0,...,82,67,100.0,0,100.0,NaN,21,9,39.948921,-75.169907
2152619,2019-09-30 00:00:00,3190.0,7.61,85.0,0.0,0.0,False,Rittenhouse Square,0.00,8524.0,...,75,62,100.0,1,100.0,NaN,0,9,39.948921,-75.169907
2152620,2019-09-30 02:00:00,3190.0,7.61,85.0,0.0,0.0,False,Rittenhouse Square,0.00,8524.0,...,75,62,100.0,1,100.0,NaN,2,9,39.948921,-75.169907

In [86]:
result['hour_of_day'] = [r.hour for r in pd.to_datetime(result.Datetime)]

In [89]:
result.COUNT.describe()

count    2.152621e+06
mean     1.450573e+00
std      1.867442e+00
min      0.000000e+00
25%      0.000000e+00
50%      1.000000e+00
75%      2.000000e+00
max      7.800000e+01
Name: COUNT, dtype: float64

In [106]:
import numpy as np
bins = [0, .9, 4, 10, 20, np.inf]
names = ['0', '1-4', '5-10', '11-20', '21+']

result['COUNT_BINS'] = pd.cut(result['COUNT'], bins, labels=names)

In [108]:
import numpy as np
bins = [0, 1, 4, 10, np.inf]
names = ['0-1', '2-4', '5-10', '11+']

result['COUNT_BINS'] = pd.cut(result['COUNT'], bins, labels=names)

In [152]:
import numpy as np
bins = [0, 3, 6, 10, np.inf]
names = ['0-3', '4-6', '7-10', '11+']

result['COUNT_BINS'] = pd.cut(result['COUNT'], bins, labels=names)

In [175]:
import numpy as np
bins = [0, 2, 9, np.inf]
names = ['0-2', '3-9', '10+']

result['COUNT_BINS'] = pd.cut(result['COUNT'], bins, labels=names)

In [208]:
import numpy as np
bins = [0,  .9, 1,  2,  9, np.inf]
names = ['0', '1', '2','3-9', '10+']

result['COUNT_BINS'] = pd.cut(result['COUNT'], bins, labels=names)

In [209]:
result['COUNT']

0          0.0
1          0.0
2          0.0
3          2.0
4          0.0
          ...
1409630    1.0
1409631    1.0
1409632    2.0
1409633    0.0
1409634    0.0
Name: COUNT, Length: 1409635, dtype: float64

In [210]:
result['COUNT_BINS']

0          NaN
1          NaN
2          NaN
3            2
4          NaN
          ...
1409630      1
1409631      1
1409632      2
1409633    NaN
1409634    NaN
Name: COUNT_BINS, Length: 1409635, dtype: category
Categories (5, object): [0 < 1 < 2 < 3-9 < 10+]

In [113]:
np.where((result.COUNT ==0))

(array([1443807, 1443808, 1443809, ..., 2152618, 2152619, 2152620]),)

In [123]:
result.iloc[1443807]

AVG_WND_SPEED                     15.21
Bike Score                           77
COUNT                                 0
Datetime            2015-04-23 07:00:00
FOG                                   0
HOLIDAY                           False
Neighborhood               Logan Square
PRCP                                  0
Population                         5137
SLEET_OR_HAIL                         0
SNOW                                  0
SNOW_DEPTH                            0
TAVG                                 48
THUNDER                               0
TMAX                                 52
TMIN                                 43
Transit Score                       100
WEEKDAY                               1
Walk Score                           99
count_range                         NaN
hour_of_day                           7
month                                 4
start_lat                       39.9538
start_lon                      -75.1637
start_station_id                   3004
COUNT_BINS                          NaN
Name: (2015-04-23 07:00:00, 3004.0), dtype: object

In [119]:
result.MultiIndex.sortlevel

AttributeError: 'DataFrame' object has no attribute 'MultiIndex'

In [113]:
result = result.reset_index(drop=False)

In [111]:
result = result.sort_values(by=['Datetime', 'start_station_id'])

In [129]:
result = result.set_index(['Datetime', 'start_station_id'], drop=False)

In [115]:
result = result.drop(['index'], axis=1)

In [116]:
result

,Datetime,start_station_id,AVG_WND_SPEED,Bike Score,COUNT,FOG,HOLIDAY,Neighborhood,PRCP,Population,...,TMIN,Transit Score,WEEKDAY,Walk Score,count_range,hour_of_day,month,start_lat,start_lon,COUNT_BINS
0,2015-04-23 07:00:00,3004.0,15.21,77.0,0.0,0.0,False,Logan Square,0.0,5137.0,...,43,100.0,1,99.0,NaN,7,4,39.953780,-75.163740,NaN
1,2015-04-23 07:00:00,3006.0,15.21,97.0,0.0,0.0,False,University City,0.0,14345.0,...,43,91.0,1,95.0,NaN,7,4,39.952200,-75.203110,NaN
2,2015-04-23 07:00:00,3013.0,15.21,87.0,0.0,0.0,False,North Philadelphia East,0.0,43367.0,...,43,83.0,1,94.0,NaN,7,4,39.963170,-75.147920,NaN
3,2015-04-23 07:00:00,3018.0,15.21,78.0,0.0,0.0,False,Center City East,0.0,14635.0,...,43,100.0,1,100.0,NaN,7,4,39.952730,-75.159790,NaN
4,2015-04-23 07:00:00,3024.0,15.21,93.0,0.0,0.0,False,Spruce Hill,0.0,14098.0,...,43,86.0,1,92.0,NaN,7,4,39.948220,-75.209080,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2152616,2019-09-30 23:00:00,3190.0,7.61,85.0,1.0,0.0,False,Rittenhouse Square,0.0,8524.0,...,62,100.0,1,100.0,2,23,9,39.948921,-75.169907,0-1
2152617,2019-09-30 23:00:00,3192.0,7.61,97.0,2.0,0.0,False,Northern Liberties – Fishtown,0.0,11212.0,...,62,83.0,1,96.0,2,23,9,39.962070,-75.141113,2-4
2152618,2019-09-30 23:00:00,3195.0,7.61,79.0,0.0,0.0,False,Center City West,0.0,6411.0,...,62,100.0,1,100.0,NaN,23,9,39.954102,-75.169647,NaN
2152619,2019-09-30 23:00:00,3200.0,7.61,73.0,0.0,0.0,False,North Philadelphia West,0.0,51516.0,...,62,78.0,1,87.0,NaN,23,9,39.975830,-75.168457,NaN
2152620,2019-09-30 23:00:00,3209.0,7.61,99.0,0.0,0.0,False,Spruce Hill,0.0,14098.0,...,62,85.0,1,94.0,NaN,23,9,39.949001,-75.212784,NaN

In [211]:
result['COUNT_BINS'] = result['COUNT_BINS'].fillna('0')

In [154]:
result['COUNT_BINS'].values_count()

AttributeError: 'Series' object has no attribute 'values_count'

In [65]:
import numpy as np
arr = np.where([result.COUNT_BINS == '0'])
len(arr[0])

4086

In [180]:
result.to_csv("result3.csv")

In [125]:
df1 = result[result.isna().any(axis=1)]

In [121]:
result = result.drop(['count_range'], axis=1)

In [124]:
result['TAVG'] = result.apply(lambda row: ((row['TMAX']+row['TMIN'])/2) if np.isnan(row['TAVG']) else row['TAVG'],axis=1)

In [126]:
df1

Empty DataFrame
Columns: [Datetime, start_station_id, AVG_WND_SPEED, Bike Score, COUNT, FOG, HOLIDAY, Neighborhood, PRCP, Population, SLEET_OR_HAIL, SNOW, SNOW_DEPTH, TAVG, THUNDER, TMAX, TMIN, Transit Score, WEEKDAY, Walk Score, hour_of_day, month, start_lat, start_lon, COUNT_BINS]
Index: []

[0 rows x 25 columns]

In [128]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
X = result[['start_lat', 'start_lon', 'hour_of_day', 'AVG_WND_SPEED', 'PRCP', 'SNOW', 'SNOW_DEPTH', 'TAVG', 'TMAX', 'TMIN', 'FOG', 'THUNDER', 'SLEET_OR_HAIL', 'month', 'WEEKDAY', 'HOLIDAY', 'Walk Score', 'Transit Score', 'Bike Score']]
normalized_X = preprocessing.normalize(X)
y = result['COUNT_BINS'].astype(str)

X_train, X_test, y_train, y_test = train_test_split(normalized_X, y, test_size = 0.3)

In [127]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [154]:
encoded_y = preprocessing.LabelEncoder().fit_transform(y_train)
ohe = preprocessing.OneHotEncoder(sparse=False)
encoded_x = ohe.fit_transform(X_train)

encoded_test_y = preprocessing.LabelEncoder().fit_transform(y_test)
ohe = preprocessing.OneHotEncoder(sparse=False)
encoded_test_x = ohe.fit_transform(X_test)

/home/rebecca/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/home/rebecca/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [155]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=125, max_depth=5, random_state=0)
clf.fit(encoded_x, encoded_y)  
clf.score(encoded_test_x, encoded_test_y)

0.6104195346143543

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(normalized_X, y, test_size = 0.3)

In [129]:
#feature importance
from sklearn.ensemble import ExtraTreesClassifier

model = ExtraTreesClassifier(n_estimators=10)
model.fit(normalized_X, y)
print(model.feature_importances_)

[0.07698863 0.07826934 0.14752862 0.06569592 0.0230282  0.0009676
 0.0012824  0.06956424 0.0705085  0.07016144 0.02621194 0.00802788
 0.0005205  0.0662118  0.05336263 0.00273796 0.0803385  0.07835823
 0.08023568]

In [159]:

X = result[['start_lat', 'start_lon', 'hour_of_day', 'AVG_WND_SPEED', 'PRCP', 'TAVG', 'TMAX', 'TMIN', 'FOG', 'month', 'WEEKDAY', 'HOLIDAY', 'Walk Score', 'Transit Score', 'Bike Score']]
normalized_X = preprocessing.normalize(X)
y = result['COUNT_BINS'].astype(str)

X_train, X_test, y_train, y_test = train_test_split(normalized_X, y, test_size = 0.3)
encoded_y = preprocessing.LabelEncoder().fit_transform(y_train)
ohe = preprocessing.OneHotEncoder(sparse=False)
encoded_x = ohe.fit_transform(X_train)

encoded_test_y = preprocessing.LabelEncoder().fit_transform(y_test)
ohe = preprocessing.OneHotEncoder(sparse=False)
encoded_test_x = ohe.fit_transform(X_test)

            
clf = RandomForestClassifier(n_estimators=125, max_depth=5, random_state=0)
clf.fit(encoded_x, encoded_y)  
clf.score(encoded_test_x, encoded_test_y)

/home/rebecca/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/home/rebecca/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

0.611884413901178

In [160]:
model = ExtraTreesClassifier(n_estimators=10)
model.fit(normalized_X, y)
print(model.feature_importances_)

[0.07412047 0.07993022 0.17905495 0.06374707 0.02673012 0.06738554
 0.06638275 0.0662379  0.02683528 0.06408226 0.05081663 0.00531551
 0.08074527 0.07284323 0.07577278]

In [130]:
X = result[['start_lat', 'start_lon', 'hour_of_day', 'AVG_WND_SPEED', 'PRCP', 'TAVG', 'TMAX', 'TMIN', 'FOG', 'month', 'WEEKDAY', 'Walk Score', 'Transit Score', 'Bike Score']]
normalized_X = preprocessing.normalize(X)
y = result['COUNT_BINS'].astype(str)

X_train, X_test, y_train, y_test = train_test_split(normalized_X, y, test_size = 0.3)
encoded_y = preprocessing.LabelEncoder().fit_transform(y_train)
ohe = preprocessing.OneHotEncoder(sparse=False)
encoded_x = ohe.fit_transform(X_train)

encoded_test_y = preprocessing.LabelEncoder().fit_transform(y_test)
ohe = preprocessing.OneHotEncoder(sparse=False)
encoded_test_x = ohe.fit_transform(X_test)

            
clf = RandomForestClassifier(n_estimators=125, max_depth=5, random_state=0)
clf.fit(encoded_x, encoded_y)  
clf.score(encoded_test_x, encoded_test_y)

/home/rebecca/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/home/rebecca/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

0.668610548059964

In [162]:
import xgboost as xgb
model1 = xgb.XGBClassifier()


train_model1 = model1.fit(X_train, y_train)
train_model1.score(X_test, y_test)

KeyboardInterrupt:

In [167]:
result.columns.values

array(['AVG_WND_SPEED', 'Bike Score', 'COUNT', 'Datetime', 'FOG',
       'HOLIDAY', 'Neighborhood', 'PRCP', 'Population', 'SLEET_OR_HAIL',
       'SNOW', 'SNOW_DEPTH', 'TAVG', 'THUNDER', 'TMAX', 'TMIN',
       'Transit Score', 'WEEKDAY', 'Walk Score', 'hour_of_day', 'month',
       'start_lat', 'start_lon', 'start_station_id', 'COUNT_BINS'],
      dtype=object)

In [187]:
#need to better balance data, rebucket classes
deletedf = result.loc[(result['COUNT'] == 1) & (result.index%3)]
deletedf

,Datetime,start_station_id,AVG_WND_SPEED,Bike Score,COUNT,FOG,HOLIDAY,Neighborhood,PRCP,Population,...,TMAX,TMIN,Transit Score,WEEKDAY,Walk Score,hour_of_day,month,start_lat,start_lon,COUNT_BINS
25,2015-04-23 12:00:00,3057.0,15.21,75.0,1.0,0.0,False,Fairmount – Art Museum,0.0,23767.0,...,52,43,66.0,1,85.0,12,4,39.964420,-75.179990,0-2
34,2015-04-23 13:00:00,3020.0,15.21,88.0,1.0,0.0,False,University City,0.0,14345.0,...,52,43,98.0,1,75.0,13,4,39.948870,-75.189860,0-2
46,2015-04-23 13:00:00,3043.0,15.21,76.0,1.0,0.0,False,Point Breeze,0.0,23703.0,...,52,43,77.0,1,91.0,13,4,39.930820,-75.174740,0-2
70,2015-04-23 14:00:00,3022.0,15.21,90.0,1.0,0.0,False,University City,0.0,14345.0,...,52,43,100.0,1,89.0,14,4,39.954720,-75.183230,0-2
76,2015-04-23 14:00:00,3033.0,15.21,83.0,1.0,0.0,False,Center City East,0.0,14635.0,...,52,43,100.0,1,100.0,14,4,39.950050,-75.156720,0-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1653634,2019-09-30 23:00:00,3062.0,7.61,94.0,1.0,0.0,False,Center City West,0.0,6411.0,...,75,62,100.0,1,96.0,23,9,39.951969,-75.179428,0-2
1653637,2019-09-30 23:00:00,3073.0,7.61,90.0,1.0,0.0,False,North Philadelphia East,0.0,43367.0,...,75,62,99.0,1,91.0,23,9,39.961430,-75.152420,0-2
1653640,2019-09-30 23:00:00,3102.0,7.61,91.0,1.0,0.0,False,Fairmount Park,0.0,2016.0,...,75,62,64.0,1,94.0,23,9,39.967590,-75.179520,0-2
1653643,2019-09-30 23:00:00,3123.0,7.61,65.0,1.0,0.0,False,North Philadelphia West,0.0,51516.0,...,75,62,72.0,1,86.0,23,9,39.980042,-75.170883,0-2
1653646,2019-09-30 23:00:00,3168.0,7.61,98.0,1.0,0.0,False,Center City West,0.0,6411.0,...,75,62,100.0,1,100.0,23,9,39.951340,-75.173943,0-2

In [68]:
#deletedf = result.loc[(result['COUNT_BINS'] == '0') ]
#deletedf

,Datetime,start_station_id,AVG_WND_SPEED,Bike Score,COUNT,Datetime.1,FOG,HOLIDAY,Neighborhood,PRCP,...,TMIN,Transit Score,WEEKDAY,Walk Score,hour_of_day,month,start_lat,start_lon,start_station_id.1,COUNT_BINS
135927,2019-08-18 12:00:00,3160.0,5.14,98.0,0.0,2019-08-18 12:00:00,0.0,False,University City,0.0,...,75,96.0,0,93.0,12,8,39.956619,-75.198624,3160.0,0
135928,2019-08-18 12:00:00,3165.0,5.14,79.0,0.0,2019-08-18 12:00:00,0.0,False,Avenue of the Arts South,0.0,...,75,100.0,0,99.0,12,8,39.958191,-75.178200,3165.0,0
135929,2019-08-18 13:00:00,3048.0,5.14,88.0,0.0,2019-08-18 13:00:00,0.0,False,Graduate hospital,0.0,...,75,100.0,0,98.0,13,8,39.942210,-75.166000,3048.0,0
135930,2019-08-18 13:00:00,3100.0,5.14,89.0,0.0,2019-08-18 13:00:00,0.0,False,Queen Village,0.0,...,75,65.0,0,92.0,13,8,39.927770,-75.151030,3100.0,0
135931,2019-08-18 13:00:00,3154.0,5.14,80.0,0.0,2019-08-18 13:00:00,0.0,False,North Philadelphia East,0.0,...,75,100.0,0,95.0,13,8,39.959240,-75.158211,3154.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140008,2019-09-30 23:00:00,3036.0,7.61,96.0,0.0,2019-09-30 23:00:00,0.0,False,Northern Liberties – Fishtown,0.0,...,62,76.0,1,96.0,23,9,39.968440,-75.140010,3036.0,0
140009,2019-09-30 23:00:00,3071.0,7.61,91.0,0.0,2019-09-30 23:00:00,0.0,False,Powelton Village,0.0,...,62,98.0,1,81.0,23,9,39.961730,-75.187880,3071.0,0
140010,2019-09-30 23:00:00,3109.0,7.61,86.0,0.0,2019-09-30 23:00:00,0.0,False,East Parkside,0.0,...,62,64.0,1,71.0,23,9,39.974860,-75.205240,3109.0,0
140011,2019-09-30 23:00:00,3161.0,7.61,90.0,0.0,2019-09-30 23:00:00,0.0,False,University City,0.0,...,62,100.0,1,89.0,23,9,39.954861,-75.180908,3161.0,0
140012,2019-09-30 23:00:00,3200.0,7.61,73.0,0.0,2019-09-30 23:00:00,0.0,False,North Philadelphia West,0.0,...,62,78.0,1,87.0,23,9,39.975830,-75.168457,3200.0,0

In [188]:
result = pd.concat([result, deletedf, deletedf]).drop_duplicates(keep=False)

In [189]:
result = result.reset_index(drop=True)

In [190]:
result

,Datetime,start_station_id,AVG_WND_SPEED,Bike Score,COUNT,FOG,HOLIDAY,Neighborhood,PRCP,Population,...,TMAX,TMIN,Transit Score,WEEKDAY,Walk Score,hour_of_day,month,start_lat,start_lon,COUNT_BINS
0,2015-04-23 07:00:00,3004.0,15.21,77.0,0.0,0.0,False,Logan Square,0.0,5137.0,...,52,43,100.0,1,99.0,7,4,39.953780,-75.163740,0-2
1,2015-04-23 07:00:00,3031.0,15.21,74.0,0.0,0.0,False,Avenue of the Arts North,0.0,10910.0,...,52,43,89.0,1,83.0,7,4,39.980050,-75.155220,0-2
2,2015-04-23 07:00:00,3039.0,15.21,78.0,0.0,0.0,False,Avenue of the Arts North,0.0,10910.0,...,52,43,82.0,1,89.0,7,4,39.971210,-75.159700,0-2
3,2015-04-23 07:00:00,3046.0,15.21,97.0,2.0,0.0,False,Center City East,0.0,14635.0,...,52,43,97.0,1,99.0,7,4,39.950120,-75.144720,0-2
4,2015-04-23 07:00:00,3048.0,15.21,88.0,0.0,0.0,False,Graduate hospital,0.0,11282.0,...,52,43,100.0,1,98.0,7,4,39.942210,-75.166000,0-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1409630,2019-09-30 23:00:00,3156.0,7.61,86.0,1.0,0.0,False,Center City West,0.0,6411.0,...,75,62,100.0,1,100.0,23,9,39.953812,-75.174072,0-2
1409631,2019-09-30 23:00:00,3190.0,7.61,85.0,1.0,0.0,False,Rittenhouse Square,0.0,8524.0,...,75,62,100.0,1,100.0,23,9,39.948921,-75.169907,0-2
1409632,2019-09-30 23:00:00,3192.0,7.61,97.0,2.0,0.0,False,Northern Liberties – Fishtown,0.0,11212.0,...,75,62,83.0,1,96.0,23,9,39.962070,-75.141113,0-2
1409633,2019-09-30 23:00:00,3200.0,7.61,73.0,0.0,0.0,False,North Philadelphia West,0.0,51516.0,...,75,62,78.0,1,87.0,23,9,39.975830,-75.168457,0-2
1409634,2019-09-30 23:00:00,3209.0,7.61,99.0,0.0,0.0,False,Spruce Hill,0.0,14098.0,...,75,62,85.0,1,94.0,23,9,39.949001,-75.212784,0-2

In [9]:
result.COUNT_BINS.value_counts()

0-2    1379696
3-9     363317
10+      15498
Name: COUNT_BINS, dtype: int64

In [2]:
df.COUNT_BINS.value_counts()

NameError: name 'df' is not defined

In [10]:
result.COUNT.value_counts()

1.0     732447
2.0     332545
0.0     314704
3.0     162813
4.0      87401
5.0      48910
6.0      28521
7.0      17653
8.0      10962
9.0       7057
10.0      4694
11.0      3206
12.0      2208
13.0      1484
14.0      1006
15.0       732
16.0       526
17.0       367
18.0       278
19.0       199
20.0       148
21.0       111
22.0        95
24.0        75
23.0        65
26.0        44
25.0        42
28.0        32
27.0        27
29.0        26
30.0        26
31.0        21
32.0        15
34.0        11
35.0        10
33.0         9
41.0         5
37.0         5
36.0         4
38.0         3
39.0         3
48.0         3
49.0         3
42.0         2
46.0         2
40.0         2
78.0         1
50.0         1
51.0         1
52.0         1
53.0         1
57.0         1
60.0         1
61.0         1
45.0         1
Name: COUNT, dtype: int64

In [17]:
#THIS IS THE ONE! with result3
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

X = result[['start_lat', 'start_lon', 'hour_of_day', 'AVG_WND_SPEED', 'TAVG', 'TMAX', 'TMIN', 'month', 'WEEKDAY', 'Walk Score', 'Transit Score', 'Bike Score']]
normalized_X = preprocessing.normalize(X)
y = result['COUNT_BINS'].astype(str)

X_train, X_test, y_train, y_test = train_test_split(normalized_X, y, test_size = 0.3)
#encoded_y = preprocessing.LabelEncoder().fit_transform(y_train)
#ohe = preprocessing.OneHotEncoder(sparse=False)
#encoded_x = ohe.fit_transform(X_train)

#encoded_test_y = preprocessing.LabelEncoder().fit_transform(y_test)
#ohe = preprocessing.OneHotEncoder(sparse=False)
#encoded_test_x = ohe.fit_transform(X_test)

            
clf = RandomForestClassifier(n_estimators=125, max_depth=5, random_state=0)
clf = clf.fit(X_train, y_train)  
clf.score(X_test, y_test)

0.7841453197208248

In [173]:
import pickle
filename = 'random_forest_classifier_2.pkl'
pickle.dump(clf, open(filename, 'wb'))

In [18]:
from sklearn.metrics import f1_score
y_pred = clf.predict(X_test)
f1_score(y_test, y_pred, average='weighted')

/home/rebecca/anaconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

0.6892755602848414

In [19]:
from sklearn.metrics import classification_report
y_pred = clf.predict(X_test)
#target_names = ['0-2', '3-9', '10+']
print(classification_report(y_test, y_pred,))

/home/rebecca/anaconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

              precision    recall  f1-score   support

         0-2       0.78      1.00      0.88    413679
         10+       0.00      0.00      0.00      4705
         3-9       0.00      0.00      0.00    109170

    accuracy                           0.78    527554
   macro avg       0.26      0.33      0.29    527554
weighted avg       0.61      0.78      0.69    527554

In [218]:
unique, counts = np.unique(encoded_test_y, return_counts=True)
print(np.asarray((unique, counts)).T)

unique, counts = np.unique(y_pred, return_counts=True)
print(np.asarray((unique, counts)).T)

[[     0  63209]
 [     1 146780]
 [     2   4699]
 [     3  99741]
 [     4 108462]]
[[     1 422891]]

In [150]:
model = ExtraTreesClassifier(n_estimators=10)
model.fit(normalized_X, y)
print(model.feature_importances_)

[0.07789687 0.08651648 0.14496984 0.07283084 0.07665576 0.07851337
 0.07523235 0.07335641 0.06015964 0.08581763 0.08426424 0.08378658]

In [220]:
df = pd.read_csv("result.csv")
df

,Unnamed: 0,Datetime,start_station_id,AVG_WND_SPEED,Bike Score,COUNT,Datetime.1,FOG,HOLIDAY,Neighborhood,...,TMIN,Transit Score,WEEKDAY,Walk Score,hour_of_day,month,start_lat,start_lon,start_station_id.1,COUNT_BINS
0,0,2015-04-23 07:00:00,3004.0,15.21,77.0,0.0,2015-04-23 07:00:00,0.0,False,Logan Square,...,43,100.0,1,99.0,7,4,39.953780,-75.163740,3004.0,0-1
1,1,2015-04-23 07:00:00,3039.0,15.21,78.0,0.0,2015-04-23 07:00:00,0.0,False,Avenue of the Arts North,...,43,82.0,1,89.0,7,4,39.971210,-75.159700,3039.0,0-1
2,2,2015-04-23 07:00:00,3066.0,15.21,95.0,0.0,2015-04-23 07:00:00,0.0,False,Rittenhouse Square,...,43,100.0,1,98.0,7,4,39.945610,-75.173480,3066.0,0-1
3,3,2015-04-23 10:00:00,3023.0,15.21,90.0,0.0,2015-04-23 10:00:00,0.0,False,Rittenhouse Square,...,43,100.0,1,99.0,10,4,39.950480,-75.172860,3023.0,0-1
4,4,2015-04-23 10:00:00,3032.0,15.21,89.0,0.0,2015-04-23 10:00:00,0.0,False,Point Breeze,...,43,65.0,1,93.0,10,4,39.945270,-75.179710,3032.0,0-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807069,807069,2019-09-30 23:00:00,3057.0,7.61,75.0,3.0,2019-09-30 23:00:00,0.0,False,Fairmount – Art Museum,...,62,66.0,1,85.0,23,9,39.964390,-75.179871,3057.0,2-4
807070,807070,2019-09-30 23:00:00,3059.0,7.61,97.0,2.0,2019-09-30 23:00:00,0.0,False,Northern Liberties – Fishtown,...,62,86.0,1,96.0,23,9,39.962650,-75.161743,3059.0,2-4
807071,807071,2019-09-30 23:00:00,3123.0,7.61,65.0,1.0,2019-09-30 23:00:00,0.0,False,North Philadelphia West,...,62,72.0,1,86.0,23,9,39.980042,-75.170883,3123.0,0-1
807072,807072,2019-09-30 23:00:00,3190.0,7.61,85.0,1.0,2019-09-30 23:00:00,0.0,False,Rittenhouse Square,...,62,100.0,1,100.0,23,9,39.948921,-75.169907,3190.0,0-1
807073,807073,2019-09-30 23:00:00,3192.0,7.61,97.0,2.0,2019-09-30 23:00:00,0.0,False,Northern Liberties – Fishtown,...,62,83.0,1,96.0,23,9,39.962070,-75.141113,3192.0,2-4

In [221]:
df.columns.values

array(['Unnamed: 0', 'Datetime', 'start_station_id', 'AVG_WND_SPEED',
       'Bike Score', 'COUNT', 'Datetime.1', 'FOG', 'HOLIDAY',
       'Neighborhood', 'PRCP', 'Population', 'SLEET_OR_HAIL', 'SNOW',
       'SNOW_DEPTH', 'TAVG', 'THUNDER', 'TMAX', 'TMIN', 'Transit Score',
       'WEEKDAY', 'Walk Score', 'hour_of_day', 'month', 'start_lat',
       'start_lon', 'start_station_id.1', 'COUNT_BINS'], dtype=object)

In [244]:
X = df[['start_lat', 'start_lon', 'hour_of_day', 'AVG_WND_SPEED', 'PRCP', 'TAVG', 'TMAX', 'TMIN', 'FOG', 'month', 'WEEKDAY', 'Walk Score', 'Transit Score', 'Bike Score']]
normalized_X = preprocessing.normalize(X)
y = df['COUNT_BINS'].astype(str)

X_train, X_test, y_train, y_test = train_test_split(normalized_X, y, test_size = 0.3)
encoded_y = preprocessing.LabelEncoder().fit_transform(y_train)
ohe = preprocessing.OneHotEncoder(sparse=False)
encoded_x = ohe.fit_transform(X_train)

encoded_test_y = preprocessing.LabelEncoder().fit_transform(y_test)
ohe = preprocessing.OneHotEncoder(sparse=False)
encoded_test_x = ohe.fit_transform(X_test)

            
clf = RandomForestClassifier(n_estimators=125, max_depth=5, random_state=0)
clf = clf.fit(encoded_x, encoded_y)  
clf.score(encoded_test_x, encoded_test_y)

/home/rebecca/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/home/rebecca/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

0.4925513065673232

In [245]:
from sklearn.metrics import classification_report
y_pred = clf.predict(encoded_test_x)
#target_names = ['0-2', '3-9', '10+']
print(classification_report(encoded_test_y, y_pred,))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00     84394
           1       0.00      0.00      0.00      3203
           2       0.49      1.00      0.66    119258
           3       0.00      0.00      0.00     35268

    accuracy                           0.49    242123
   macro avg       0.12      0.25      0.17    242123
weighted avg       0.24      0.49      0.33    242123

/home/rebecca/anaconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [224]:
unique, counts = np.unique(encoded_test_y, return_counts=True)
print(np.asarray((unique, counts)).T)

unique, counts = np.unique(y_pred, return_counts=True)
print(np.asarray((unique, counts)).T)

[[     0  84044]
 [     1   3205]
 [     2 119590]
 [     3  35284]]
[[     2 242123]]

In [8]:
import pandas as pd
result = pd.read_csv("result3.csv")

In [14]:
X = result[['start_lat', 'start_lon', 'hour_of_day', 'AVG_WND_SPEED','PRCP', 'TAVG', 'TMAX', 'TMIN', 'month', 'WEEKDAY', 'Walk Score', 'Transit Score', 'Bike Score']]
normalized_X = preprocessing.normalize(X)
y = result['COUNT_BINS'].astype(str)

X_train, X_test, y_train, y_test = train_test_split(normalized_X, y, test_size = 0.3)

In [15]:
from sklearn import tree 
decisionTree = tree.DecisionTreeClassifier(min_impurity_decrease=0)
decisionTree.fit(X_train, y_train)
decisionTree.score(X_test, y_test)

0.7359246636363291

In [16]:
from sklearn.metrics import classification_report
y_pred = decisionTree.predict(X_test)
#target_names = ['0-2', '3-9', '10+']
print(classification_report(y_test, y_pred,))

              precision    recall  f1-score   support

         0-2       0.84      0.83      0.84    413778
         10+       0.20      0.21      0.21      4620
         3-9       0.38      0.39      0.39    109156

    accuracy                           0.74    527554
   macro avg       0.47      0.48      0.48    527554
weighted avg       0.74      0.74      0.74    527554

In [13]:
from sklearn.metrics import classification_report
y_pred = decisionTree.predict(X_test)
#target_names = ['0-2', '3-9', '10+']
print(classification_report(y_test, y_pred,))

              precision    recall  f1-score   support

         0-2       0.84      0.83      0.84    413840
         10+       0.20      0.22      0.21      4587
         3-9       0.38      0.39      0.38    109127

    accuracy                           0.74    527554
   macro avg       0.47      0.48      0.48    527554
weighted avg       0.74      0.74      0.74    527554

In [227]:
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn import tree
from sklearn.datasets import load_wine
from IPython.display import SVG
from graphviz import Source
from IPython.display import display

In [261]:
graph = Source(tree.export_graphviz(decisionTree, out_file=None
   , feature_names=['start_lat', 'start_lon', 'hour_of_day', 'AVG_WND_SPEED', 'PRCP', 'TAVG', 'TMAX', 'TMIN', 'FOG', 'month', 'WEEKDAY', 'Walk Score', 'Transit Score', 'Bike Score'] , class_names=['0-1', '2-4', '5-10', '11+'] 
   , filled = True))
display(SVG(graph.pipe(format='svg')))

In [248]:
len(clf.estimators_)

125

In [250]:
import graphviz
#from sklearn.tree import DecisionTreeClassifier()
from sklearn import tree

dot_data = tree.export_graphviz(clf.estimators_[100],out_file=None,feature_names=['start_lat', 'start_lon', 'hour_of_day', 'AVG_WND_SPEED', 'PRCP', 'TAVG', 'TMAX', 'TMIN', 'FOG', 'month', 'WEEKDAY', 'Walk Score', 'Transit Score', 'Bike Score'] , class_names=['0-1', '2-4', '5-10', '11+'])
graph = graphviz.Source(dot_data)
graph.render("image",view=True)

'image.pdf'

In [21]:
import xgboost as xgb
model1 = xgb.XGBClassifier()
train_model1 = model1.fit(X_train, y_train)
train_model1.score(X_test, y_test)

0.7865545517615259

In [22]:
from sklearn.metrics import classification_report
y_pred = train_model1.predict(X_test)
#target_names = ['0-2', '3-9', '10+']
print(classification_report(y_test, y_pred,))

/home/rebecca/anaconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

              precision    recall  f1-score   support

         0-2       0.79      1.00      0.88    413679
         10+       0.00      0.00      0.00      4705
         3-9       0.58      0.03      0.05    109170

    accuracy                           0.79    527554
   macro avg       0.46      0.34      0.31    527554
weighted avg       0.74      0.79      0.70    527554

In [ ]:
[{0: 1, 1: 1}, {0: 1, 1: 10}, {0: 1, 1: 100}]