In [1]:
import pandas as pd
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar
from sklearn import preprocessing

In [2]:
df = pd.read_csv("../data/clean_data.csv")

/home/rebecca/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df

,Unnamed: 0,DATE,start_station_id,start_lat,start_lon,hour_of_day,COUNT,AVG_WND_SPEED,PRCP,SNOW,SNOW_DEPTH,TAVG,TMAX,TMIN,FOG,THUNDER,SLEET_OR_HAIL,month,year,count_range
0,0,2015-04-23,3004.0,39.953780,-75.163740,10,5,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0,4,2015,6
1,1,2015-04-23,3004.0,39.953780,-75.163740,12,3,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0,4,2015,4
2,2,2015-04-23,3004.0,39.953780,-75.163740,13,2,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0,4,2015,2
3,3,2015-04-23,3004.0,39.953780,-75.163740,14,1,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0,4,2015,2
4,4,2015-04-23,3004.0,39.953780,-75.163740,15,5,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0,4,2015,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1443987,1444012,2019-09-30,3210.0,39.984921,-75.156677,9,3,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0,9,2019,4
1443988,1444013,2019-09-30,3210.0,39.984921,-75.156677,10,1,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0,9,2019,2
1443989,1444014,2019-09-30,3210.0,39.984921,-75.156677,11,1,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0,9,2019,2
1443990,1444015,2019-09-30,3210.0,39.984921,-75.156677,12,1,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0,9,2019,2
1443991,1444016,2019-09-30,3210.0,39.984921,-75.156677,17,4,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0,9,2019,4

In [4]:
df['DATE'] =  pd.to_datetime(df['DATE'])

In [5]:
df = df.drop(['Unnamed: 0', 'year'], axis=1)

In [6]:
df

,DATE,start_station_id,start_lat,start_lon,hour_of_day,COUNT,AVG_WND_SPEED,PRCP,SNOW,SNOW_DEPTH,TAVG,TMAX,TMIN,FOG,THUNDER,SLEET_OR_HAIL,month,count_range
0,2015-04-23,3004.0,39.953780,-75.163740,10,5,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0,4,6
1,2015-04-23,3004.0,39.953780,-75.163740,12,3,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0,4,4
2,2015-04-23,3004.0,39.953780,-75.163740,13,2,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0,4,2
3,2015-04-23,3004.0,39.953780,-75.163740,14,1,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0,4,2
4,2015-04-23,3004.0,39.953780,-75.163740,15,5,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0,4,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1443987,2019-09-30,3210.0,39.984921,-75.156677,9,3,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0,9,4
1443988,2019-09-30,3210.0,39.984921,-75.156677,10,1,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0,9,2
1443989,2019-09-30,3210.0,39.984921,-75.156677,11,1,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0,9,2
1443990,2019-09-30,3210.0,39.984921,-75.156677,12,1,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0,9,2
1443991,2019-09-30,3210.0,39.984921,-75.156677,17,4,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0,9,4

In [7]:
df['WEEKDAY'] = pd.to_datetime(df['DATE']).dt.dayofweek 
df["WEEKDAY"] = (df["WEEKDAY"] < 5).astype(int)

In [8]:
dr = pd.date_range(start='2015-01-01', end='2019-10-31')

cal = calendar()
holidays = cal.holidays(start=dr.min(), end=dr.max())

df['HOLIDAY'] = df['DATE'].isin(holidays)
df

,DATE,start_station_id,start_lat,start_lon,hour_of_day,COUNT,AVG_WND_SPEED,PRCP,SNOW,SNOW_DEPTH,TAVG,TMAX,TMIN,FOG,THUNDER,SLEET_OR_HAIL,month,count_range,WEEKDAY,HOLIDAY
0,2015-04-23,3004.0,39.953780,-75.163740,10,5,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0,4,6,1,False
1,2015-04-23,3004.0,39.953780,-75.163740,12,3,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0,4,4,1,False
2,2015-04-23,3004.0,39.953780,-75.163740,13,2,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0,4,2,1,False
3,2015-04-23,3004.0,39.953780,-75.163740,14,1,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0,4,2,1,False
4,2015-04-23,3004.0,39.953780,-75.163740,15,5,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0,4,6,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1443987,2019-09-30,3210.0,39.984921,-75.156677,9,3,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0,9,4,1,False
1443988,2019-09-30,3210.0,39.984921,-75.156677,10,1,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0,9,2,1,False
1443989,2019-09-30,3210.0,39.984921,-75.156677,11,1,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0,9,2,1,False
1443990,2019-09-30,3210.0,39.984921,-75.156677,12,1,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0,9,2,1,False
1443991,2019-09-30,3210.0,39.984921,-75.156677,17,4,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0,9,4,1,False

In [9]:
holidays

DatetimeIndex(['2015-01-01', '2015-01-19', '2015-02-16', '2015-05-25',
               '2015-07-03', '2015-09-07', '2015-10-12', '2015-11-11',
               '2015-11-26', '2015-12-25', '2016-01-01', '2016-01-18',
               '2016-02-15', '2016-05-30', '2016-07-04', '2016-09-05',
               '2016-10-10', '2016-11-11', '2016-11-24', '2016-12-26',
               '2017-01-02', '2017-01-16', '2017-02-20', '2017-05-29',
               '2017-07-04', '2017-09-04', '2017-10-09', '2017-11-10',
               '2017-11-23', '2017-12-25', '2018-01-01', '2018-01-15',
               '2018-02-19', '2018-05-28', '2018-07-04', '2018-09-03',
               '2018-10-08', '2018-11-12', '2018-11-22', '2018-12-25',
               '2019-01-01', '2019-01-21', '2019-02-18', '2019-05-27',
               '2019-07-04', '2019-09-02', '2019-10-14'],
              dtype='datetime64[ns]', freq=None)

In [10]:
df[(df['DATE'] > '2018-07-01') & (df['DATE'] < '2018-07-05')]

,DATE,start_station_id,start_lat,start_lon,hour_of_day,COUNT,AVG_WND_SPEED,PRCP,SNOW,SNOW_DEPTH,TAVG,TMAX,TMIN,FOG,THUNDER,SLEET_OR_HAIL,month,count_range,WEEKDAY,HOLIDAY
976418,2018-07-02,3004.0,39.953781,-75.163742,7,1,5.37,0.0,0.0,0.0,86.0,97,73,1.0,0.0,0.0,7,2,1,False
976419,2018-07-02,3004.0,39.953781,-75.163742,11,1,5.37,0.0,0.0,0.0,86.0,97,73,1.0,0.0,0.0,7,2,1,False
976420,2018-07-02,3004.0,39.953781,-75.163742,12,2,5.37,0.0,0.0,0.0,86.0,97,73,1.0,0.0,0.0,7,2,1,False
976421,2018-07-02,3004.0,39.953781,-75.163742,13,2,5.37,0.0,0.0,0.0,86.0,97,73,1.0,0.0,0.0,7,2,1,False
976422,2018-07-02,3004.0,39.953781,-75.163742,14,1,5.37,0.0,0.0,0.0,86.0,97,73,1.0,0.0,0.0,7,2,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979534,2018-07-04,3170.0,39.944260,-75.181343,22,1,4.70,0.0,0.0,0.0,81.0,94,74,1.0,1.0,0.0,7,2,1,True
979535,2018-07-04,3181.0,39.896290,-75.175140,15,2,4.70,0.0,0.0,0.0,81.0,94,74,1.0,1.0,0.0,7,2,1,True
979536,2018-07-04,3188.0,39.904709,-75.173401,19,2,4.70,0.0,0.0,0.0,81.0,94,74,1.0,1.0,0.0,7,2,1,True
979537,2018-07-04,3188.0,39.904709,-75.173401,20,4,4.70,0.0,0.0,0.0,81.0,94,74,1.0,1.0,0.0,7,4,1,True
979538,2018-07-04,3188.0,39.904709,-75.173401,23,2,4.70,0.0,0.0,0.0,81.0,94,74,1.0,1.0,0.0,7,2,1,True

In [11]:
from sklearn.model_selection import train_test_split
X = df[['start_lat', 'start_lon', 'hour_of_day', 'AVG_WND_SPEED', 'PRCP', 'SNOW', 'SNOW_DEPTH', 'TAVG', 'TMAX', 'TMIN', 'FOG', 'THUNDER', 'SLEET_OR_HAIL', 'month', 'WEEKDAY', 'HOLIDAY']]
normalized_X = preprocessing.normalize(X)
y = df['count_range'].astype(str)

X_train, X_test, y_train, y_test = train_test_split(normalized_X, y, test_size = 0.2)

In [12]:
normalized_X

array([[ 0.33235741, -0.62525314,  0.08318547, ...,  0.03327419,
         0.00831855,  0.        ],
       [ 0.3318526 , -0.62430344,  0.09967095, ...,  0.03322365,
         0.00830591,  0.        ],
       [ 0.33156679, -0.62376577,  0.10788387, ...,  0.03319504,
         0.00829876,  0.        ],
       ...,
       [ 0.27119653, -0.50974792,  0.07460717, ...,  0.06104223,
         0.00678247,  0.        ],
       [ 0.27105318, -0.50947846,  0.08134662, ...,  0.06100996,
         0.00677888,  0.        ],
       [ 0.27015462, -0.50778951,  0.11485901, ...,  0.06080771,
         0.00675641,  0.        ]])

In [13]:


#X_train['start_lat'] = pd.to_numeric(X_train['start_lat'], errors='coerce')
#X_train['start_lon'] = pd.to_numeric(X_train['start_lon'], errors='coerce')
#X_test['start_lat'] = pd.to_numeric(X_test['start_lat'], errors='coerce')
#X_test['start_lon'] = pd.to_numeric(X_test['start_lon'], errors='coerce')

encoded_y = preprocessing.LabelEncoder().fit_transform(y_train)
ohe = preprocessing.OneHotEncoder(sparse=False)
encoded_x = ohe.fit_transform(X_train)

encoded_test_y = preprocessing.LabelEncoder().fit_transform(y_test)
ohe = preprocessing.OneHotEncoder(sparse=False)
encoded_test_x = ohe.fit_transform(X_test)

/home/rebecca/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/home/rebecca/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [14]:
df.count_range.describe()

count     1443992
unique         13
top             2
freq       627496
Name: count_range, dtype: object

In [15]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=125, max_depth=5, random_state=0)
clf.fit(encoded_x, encoded_y)  
clf.score(encoded_test_x, encoded_test_y)

0.7388010346296213

In [23]:
df_station = pd.read_csv("../data/raw_data/indego_stations_bike_score.csv")

In [24]:
df_station = df_station.drop(index=0)

In [25]:
df_station

,Station_ID,Station_Name,Day of Go_live_date,Status,Neighborhood,Walk Score,Transit Score,Bike Score,Population
1,3004,Municipal Services Building Plaza,4/23/2015,Active,Logan Square,99.0,100.0,77.0,5137.0
2,3005,"Welcome Park, NPS",4/23/2015,Active,Center City East,98.0,97.0,84.0,14635.0
3,3006,40th & Spruce,4/23/2015,Active,University City,95.0,91.0,97.0,14345.0
4,3007,"11th & Pine, Kahn Park",4/23/2015,Active,Washington Square West,98.0,100.0,98.0,11444.0
5,3008,Temple University Station,4/23/2015,Active,North Philadelphia East,81.0,89.0,67.0,43367.0
...,...,...,...,...,...,...,...,...,...
142,3201,16th & Arch,9/10/2019,Active,Logan Square,99.0,100.0,76.0,5137.0
143,3202,16th & Chestnut,8/30/2019,Active,Center City West,100.0,100.0,83.0,6411.0
144,3206,18th & Chestnut,8/29/2019,Active,Center City West,100.0,100.0,89.0,6411.0
145,3209,45th & Baltimore,9/11/2019,Active,Spruce Hill,94.0,85.0,99.0,14098.0
146,3210,Broad & Diamond,8/28/2019,Active,Avenue of the Arts North,83.0,87.0,66.0,10910.0

In [29]:
df = df.merge(df_station, left_on='start_station_id', right_on='Station_ID')

In [30]:
df

,DATE,start_station_id,start_lat,start_lon,hour_of_day,COUNT,AVG_WND_SPEED,PRCP,SNOW,SNOW_DEPTH,...,HOLIDAY,Station_ID,Station_Name,Day of Go_live_date,Status,Neighborhood,Walk Score,Transit Score,Bike Score,Population
0,2015-04-23,3004.0,39.953780,-75.163740,10,5,15.21,0.0,0.0,0.0,...,False,3004,Municipal Services Building Plaza,4/23/2015,Active,Logan Square,99.0,100.0,77.0,5137.0
1,2015-04-23,3004.0,39.953780,-75.163740,12,3,15.21,0.0,0.0,0.0,...,False,3004,Municipal Services Building Plaza,4/23/2015,Active,Logan Square,99.0,100.0,77.0,5137.0
2,2015-04-23,3004.0,39.953780,-75.163740,13,2,15.21,0.0,0.0,0.0,...,False,3004,Municipal Services Building Plaza,4/23/2015,Active,Logan Square,99.0,100.0,77.0,5137.0
3,2015-04-23,3004.0,39.953780,-75.163740,14,1,15.21,0.0,0.0,0.0,...,False,3004,Municipal Services Building Plaza,4/23/2015,Active,Logan Square,99.0,100.0,77.0,5137.0
4,2015-04-23,3004.0,39.953780,-75.163740,15,5,15.21,0.0,0.0,0.0,...,False,3004,Municipal Services Building Plaza,4/23/2015,Active,Logan Square,99.0,100.0,77.0,5137.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1443952,2019-09-30,3209.0,39.949001,-75.212784,11,1,7.61,0.0,0.0,0.0,...,False,3209,45th & Baltimore,9/11/2019,Active,Spruce Hill,94.0,85.0,99.0,14098.0
1443953,2019-09-30,3209.0,39.949001,-75.212784,12,1,7.61,0.0,0.0,0.0,...,False,3209,45th & Baltimore,9/11/2019,Active,Spruce Hill,94.0,85.0,99.0,14098.0
1443954,2019-09-30,3209.0,39.949001,-75.212784,13,1,7.61,0.0,0.0,0.0,...,False,3209,45th & Baltimore,9/11/2019,Active,Spruce Hill,94.0,85.0,99.0,14098.0
1443955,2019-09-30,3209.0,39.949001,-75.212784,14,1,7.61,0.0,0.0,0.0,...,False,3209,45th & Baltimore,9/11/2019,Active,Spruce Hill,94.0,85.0,99.0,14098.0
1443956,2019-09-30,3209.0,39.949001,-75.212784,18,1,7.61,0.0,0.0,0.0,...,False,3209,45th & Baltimore,9/11/2019,Active,Spruce Hill,94.0,85.0,99.0,14098.0

In [31]:
df = df.drop(['Station_ID', 'Station_Name', 'Day of Go_live_date', 'Status', 'Neighborhood'], axis=1)

In [33]:
df.columns.values

array(['DATE', 'start_station_id', 'start_lat', 'start_lon',
       'hour_of_day', 'COUNT', 'AVG_WND_SPEED', 'PRCP', 'SNOW',
       'SNOW_DEPTH', 'TAVG', 'TMAX', 'TMIN', 'FOG', 'THUNDER',
       'SLEET_OR_HAIL', 'month', 'count_range', 'WEEKDAY', 'HOLIDAY',
       'Walk Score', 'Transit Score', 'Bike Score', 'Population'],
      dtype=object)

In [44]:
X = df[['start_lat', 'start_lon', 'hour_of_day', 'AVG_WND_SPEED', 'PRCP', 'SNOW', 'SNOW_DEPTH', 'TAVG', 'TMAX', 'TMIN', 'FOG', 'THUNDER', 'SLEET_OR_HAIL', 'month', 'WEEKDAY', 'HOLIDAY', 'Walk Score', 'Transit Score', 'Bike Score']]
normalized_X = preprocessing.normalize(X)
y = df['count_range'].astype(str)

X_train, X_test, y_train, y_test = train_test_split(normalized_X, y, test_size = 0.3)

In [45]:
encoded_y = preprocessing.LabelEncoder().fit_transform(y_train)
ohe = preprocessing.OneHotEncoder(sparse=False)
encoded_x = ohe.fit_transform(X_train)

encoded_test_y = preprocessing.LabelEncoder().fit_transform(y_test)
ohe = preprocessing.OneHotEncoder(sparse=False)
encoded_test_x = ohe.fit_transform(X_test)

/home/rebecca/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/home/rebecca/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [46]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=125, max_depth=5, random_state=0)
clf.fit(encoded_x, encoded_y)  
clf.score(encoded_test_x, encoded_test_y)

0.7376912564521639

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)
clf = RandomForestClassifier(n_estimators=125, max_depth=5, random_state=0)
clf.fit(X_train, y_train)  
clf.score(X_test, y_test)

0.7373057425413446