In [16]:
import pandas as pd

In [17]:
data = pd.read_csv("clean_data.csv")

/home/rebecca/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [18]:
data

,Unnamed: 0,bike_id,end_time,start_lat,start_lon,start_station_id,start_time
0,0,3350.0,4/23/15 7:45,39.9501,-75.1447,3046.0,4/23/15 7:44
1,1,3350.0,4/23/15 7:46,39.9501,-75.1447,3046.0,4/23/15 7:45
2,2,3282.0,4/23/15 7:48,39.9644,-75.18,3057.0,4/23/15 7:46
3,3,3350.0,4/23/15 10:14,39.9538,-75.1637,3004.0,4/23/15 10:13
4,4,2716.0,4/23/15 10:17,39.9538,-75.1637,3004.0,4/23/15 10:14
...,...,...,...,...,...,...,...
3123632,275192,3303,10/1/2019 1:18,39.9422,-75.1775,3012.0,9/30/2019 23:52
3123633,275193,5194,10/1/2019 0:06,39.9644,-75.1799,3057.0,9/30/2019 23:52
3123634,275194,5219,9/30/2019 23:56,39.9626,-75.1617,3059.0,9/30/2019 23:55
3123635,275195,6694,10/1/2019 0:07,39.9626,-75.1617,3059.0,9/30/2019 23:56
3123636,275196,19946,10/1/2019 0:05,39.9323,-75.1815,3053.0,9/30/2019 23:59

In [19]:
data = data.drop(['Unnamed: 0'], axis=1)

In [9]:
df_stations = data

In [12]:
df_stations = df_stations.drop(['bike_id', 'end_time', 'start_time'], axis=1)

In [14]:
df_stations = df_stations.drop_duplicates('start_station_id')

In [15]:
df_stations

        start_lat start_lon  start_station_id
0         39.9501  -75.1447            3046.0
2         39.9644    -75.18            3057.0
3         39.9538  -75.1637            3004.0
13        39.9452  -75.1599            3007.0
18        39.9592  -75.1704            3060.0
...           ...       ...               ...
3015050   39.9849  -75.1567            3210.0
3020500   39.9517  -75.1706            3206.0
3022776   39.9513  -75.1676            3202.0
3057839   39.9552  -75.1662            3201.0
3061736    39.949  -75.2128            3209.0

[152 rows x 3 columns]

In [20]:
data['start_time']

0             4/23/15 7:44
1             4/23/15 7:45
2             4/23/15 7:46
3            4/23/15 10:13
4            4/23/15 10:14
                ...
3123632    9/30/2019 23:52
3123633    9/30/2019 23:52
3123634    9/30/2019 23:55
3123635    9/30/2019 23:56
3123636    9/30/2019 23:59
Name: start_time, Length: 3123637, dtype: object

In [21]:
data['start_time'] =  pd.to_datetime(data['start_time'])

KeyboardInterrupt:

In [7]:
data.start_time

0         2015-04-23 07:44:00
1         2015-04-23 07:45:00
2         2015-04-23 07:46:00
3         2015-04-23 10:13:00
4         2015-04-23 10:14:00
                  ...
3123632   2019-09-30 23:52:00
3123633   2019-09-30 23:52:00
3123634   2019-09-30 23:55:00
3123635   2019-09-30 23:56:00
3123636   2019-09-30 23:59:00
Name: start_time, Length: 3123637, dtype: datetime64[ns]

In [8]:
data['hour_of_day'] = [r.hour for r in pd.to_datetime(data.start_time)]

In [9]:
data.to_csv("clean_data_2.csv")

In [22]:
df = pd.read_csv('clean_data_2.csv')

In [23]:
df['hour_of_day'] = [r.hour for r in pd.to_datetime(df.start_time)]
df['month'] = [r.month for r in pd.to_datetime(df.start_time)]

In [24]:
df.hour_of_day

0           7
1           7
2           7
3          10
4          10
           ..
3123632    23
3123633    23
3123634    23
3123635    23
3123636    23
Name: hour_of_day, Length: 3123637, dtype: int64

In [25]:
df.month

0          4
1          4
2          4
3          4
4          4
          ..
3123632    9
3123633    9
3123634    9
3123635    9
3123636    9
Name: month, Length: 3123637, dtype: int64

In [26]:
df = df.drop(['end_time', 'Unnamed: 0'], axis=1)

In [27]:
df

,bike_id,start_lat,start_lon,start_station_id,start_time,hour_of_day,month
0,3350,39.9501,-75.1447,3046.0,2015-04-23 07:44:00,7,4
1,3350,39.9501,-75.1447,3046.0,2015-04-23 07:45:00,7,4
2,3282,39.9644,-75.18,3057.0,2015-04-23 07:46:00,7,4
3,3350,39.9538,-75.1637,3004.0,2015-04-23 10:13:00,10,4
4,2716,39.9538,-75.1637,3004.0,2015-04-23 10:14:00,10,4
...,...,...,...,...,...,...,...
3123632,3303,39.9422,-75.1775,3012.0,2019-09-30 23:52:00,23,9
3123633,5194,39.9644,-75.1799,3057.0,2019-09-30 23:52:00,23,9
3123634,5219,39.9626,-75.1617,3059.0,2019-09-30 23:55:00,23,9
3123635,6694,39.9626,-75.1617,3059.0,2019-09-30 23:56:00,23,9
3123636,19946,39.9323,-75.1815,3053.0,2019-09-30 23:59:00,23,9

In [28]:
weather = pd.read_csv('weather_data.csv')

In [29]:
weather.STATION.unique()

array(['USW00013739'], dtype=object)

In [30]:
weather.columns.values

array(['STATION', 'NAME', 'DATE', 'AWND', 'PGTM', 'PRCP', 'PSUN', 'SNOW',
       'SNWD', 'TAVG', 'TMAX', 'TMIN', 'TSUN', 'WDF2', 'WDF5', 'WESD',
       'WSF2', 'WSF5', 'WT01', 'WT02', 'WT03', 'WT04', 'WT05', 'WT06',
       'WT08', 'WT09'], dtype=object)

In [31]:
weather = weather.drop(['STATION','WESD','WT06','WT08','WT09','NAME','WSF5','WSF2', 'WDF2', 'WDF5', 'WT05', 'PGTM', 'WT02'], axis=1)

In [32]:
weather.columns.values

array(['DATE', 'AWND', 'PRCP', 'PSUN', 'SNOW', 'SNWD', 'TAVG', 'TMAX',
       'TMIN', 'TSUN', 'WT01', 'WT03', 'WT04'], dtype=object)

In [33]:
weather.PSUN.describe()

count    6.0
mean     0.0
std      0.0
min      0.0
25%      0.0
50%      0.0
75%      0.0
max      0.0
Name: PSUN, dtype: float64

In [34]:
weather = weather.drop(['PSUN'], axis=1)

In [35]:
weather

,DATE,AWND,PRCP,SNOW,SNWD,TAVG,TMAX,TMIN,TSUN,WT01,WT03,WT04
0,2015-03-01,4.92,0.52,0.4,0.0,NaN,32,21,NaN,1.0,NaN,1.0
1,2015-03-02,12.08,0.00,0.0,0.0,NaN,40,29,NaN,1.0,NaN,NaN
2,2015-03-03,8.05,0.61,0.1,0.0,NaN,34,25,NaN,1.0,NaN,1.0
3,2015-03-04,5.82,0.49,0.0,0.0,NaN,43,33,NaN,1.0,NaN,NaN
4,2015-03-05,10.74,0.78,7.5,0.0,NaN,40,20,NaN,1.0,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1707,2019-11-02,6.93,0.00,0.0,0.0,45.0,54,36,NaN,NaN,NaN,NaN
1708,2019-11-03,8.50,0.00,0.0,0.0,47.0,53,38,NaN,NaN,NaN,NaN
1709,2019-11-04,5.59,0.00,0.0,0.0,47.0,59,35,NaN,NaN,NaN,NaN
1710,2019-11-05,5.82,0.00,0.0,0.0,52.0,63,43,NaN,NaN,NaN,NaN
1711,2019-11-06,NaN,0.00,0.0,0.0,52.0,57,42,NaN,NaN,NaN,NaN

In [36]:
weather.TSUN.unique()

array([nan,  0.])

In [37]:
weather = weather.drop(['TSUN'], axis=1)

In [45]:
weather

,DATE,AVG_WND_SPEED,PRCP,SNOW,SNOW_DEPTH,TAVG,TMAX,TMIN,FOG,THUNDER,SLEET_OR_HAIL
53,2015-04-23,15.21,0.00,0.0,0.0,48.0,52,43,NaN,NaN,NaN
54,2015-04-24,16.55,0.00,0.0,0.0,47.0,57,39,NaN,NaN,NaN
55,2015-04-25,9.17,0.00,0.0,0.0,48.0,58,37,NaN,NaN,NaN
56,2015-04-26,7.38,0.00,0.0,0.0,54.0,64,45,NaN,NaN,NaN
57,2015-04-27,11.18,0.00,0.0,0.0,54.0,60,48,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1671,2019-09-27,4.92,0.00,0.0,0.0,69.0,79,58,NaN,NaN,NaN
1672,2019-09-28,6.71,0.16,0.0,0.0,72.0,85,62,1.0,1.0,NaN
1673,2019-09-29,7.16,0.00,0.0,0.0,76.0,82,67,1.0,NaN,NaN
1674,2019-09-30,7.61,0.00,0.0,0.0,69.0,75,62,NaN,NaN,NaN
1675,2019-10-01,8.28,0.00,0.0,0.0,71.0,84,65,NaN,NaN,NaN

In [39]:
weather = weather.rename(columns={'AWND': 'AVG_WND_SPEED', 'SNWD': 'SNOW_DEPTH', 'WT01': 'FOG', 'WT03': 'THUNDER', 'WT04': 'SLEET_OR_HAIL'})

In [40]:
weather.columns.values

array(['DATE', 'AVG_WND_SPEED', 'PRCP', 'SNOW', 'SNOW_DEPTH', 'TAVG',
       'TMAX', 'TMIN', 'FOG', 'THUNDER', 'SLEET_OR_HAIL'], dtype=object)

In [41]:
weather[~weather['DATE'].isin(pd.date_range(start='20150423', end='20191001'))]

,DATE,AVG_WND_SPEED,PRCP,SNOW,SNOW_DEPTH,TAVG,TMAX,TMIN,FOG,THUNDER,SLEET_OR_HAIL
0,2015-03-01,4.92,0.52,0.4,0.0,NaN,32,21,1.0,NaN,1.0
1,2015-03-02,12.08,0.00,0.0,0.0,NaN,40,29,1.0,NaN,NaN
2,2015-03-03,8.05,0.61,0.1,0.0,NaN,34,25,1.0,NaN,1.0
3,2015-03-04,5.82,0.49,0.0,0.0,NaN,43,33,1.0,NaN,NaN
4,2015-03-05,10.74,0.78,7.5,0.0,NaN,40,20,1.0,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...
1707,2019-11-02,6.93,0.00,0.0,0.0,45.0,54,36,NaN,NaN,NaN
1708,2019-11-03,8.50,0.00,0.0,0.0,47.0,53,38,NaN,NaN,NaN
1709,2019-11-04,5.59,0.00,0.0,0.0,47.0,59,35,NaN,NaN,NaN
1710,2019-11-05,5.82,0.00,0.0,0.0,52.0,63,43,NaN,NaN,NaN
1711,2019-11-06,NaN,0.00,0.0,0.0,52.0,57,42,NaN,NaN,NaN

In [42]:
weather.query("DATE <= '2019-10-01' & DATE >= '2015-04-23' ", inplace=True)

In [43]:
weather

,DATE,AVG_WND_SPEED,PRCP,SNOW,SNOW_DEPTH,TAVG,TMAX,TMIN,FOG,THUNDER,SLEET_OR_HAIL
53,2015-04-23,15.21,0.00,0.0,0.0,48.0,52,43,NaN,NaN,NaN
54,2015-04-24,16.55,0.00,0.0,0.0,47.0,57,39,NaN,NaN,NaN
55,2015-04-25,9.17,0.00,0.0,0.0,48.0,58,37,NaN,NaN,NaN
56,2015-04-26,7.38,0.00,0.0,0.0,54.0,64,45,NaN,NaN,NaN
57,2015-04-27,11.18,0.00,0.0,0.0,54.0,60,48,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1671,2019-09-27,4.92,0.00,0.0,0.0,69.0,79,58,NaN,NaN,NaN
1672,2019-09-28,6.71,0.16,0.0,0.0,72.0,85,62,1.0,1.0,NaN
1673,2019-09-29,7.16,0.00,0.0,0.0,76.0,82,67,1.0,NaN,NaN
1674,2019-09-30,7.61,0.00,0.0,0.0,69.0,75,62,NaN,NaN,NaN
1675,2019-10-01,8.28,0.00,0.0,0.0,71.0,84,65,NaN,NaN,NaN

In [44]:
weather.THUNDER

53      NaN
54      NaN
55      NaN
56      NaN
57      NaN
       ...
1671    NaN
1672    1.0
1673    NaN
1674    NaN
1675    NaN
Name: THUNDER, Length: 1623, dtype: float64

In [46]:
 weather['THUNDER'].fillna(0, inplace=True)

In [47]:
 weather['FOG'].fillna(0, inplace=True)

In [48]:
weather.FOG

53      0.0
54      0.0
55      0.0
56      0.0
57      0.0
       ...
1671    0.0
1672    1.0
1673    1.0
1674    0.0
1675    0.0
Name: FOG, Length: 1623, dtype: float64

In [49]:
weather['SLEET_OR_HAIL'].fillna(0, inplace=True)

In [50]:
weather.SLEET_OR_HAIL.describe()

count    1623.000000
mean        0.011091
std         0.104758
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: SLEET_OR_HAIL, dtype: float64

In [51]:
weather

,DATE,AVG_WND_SPEED,PRCP,SNOW,SNOW_DEPTH,TAVG,TMAX,TMIN,FOG,THUNDER,SLEET_OR_HAIL
53,2015-04-23,15.21,0.00,0.0,0.0,48.0,52,43,0.0,0.0,0.0
54,2015-04-24,16.55,0.00,0.0,0.0,47.0,57,39,0.0,0.0,0.0
55,2015-04-25,9.17,0.00,0.0,0.0,48.0,58,37,0.0,0.0,0.0
56,2015-04-26,7.38,0.00,0.0,0.0,54.0,64,45,0.0,0.0,0.0
57,2015-04-27,11.18,0.00,0.0,0.0,54.0,60,48,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
1671,2019-09-27,4.92,0.00,0.0,0.0,69.0,79,58,0.0,0.0,0.0
1672,2019-09-28,6.71,0.16,0.0,0.0,72.0,85,62,1.0,1.0,0.0
1673,2019-09-29,7.16,0.00,0.0,0.0,76.0,82,67,1.0,0.0,0.0
1674,2019-09-30,7.61,0.00,0.0,0.0,69.0,75,62,0.0,0.0,0.0
1675,2019-10-01,8.28,0.00,0.0,0.0,71.0,84,65,0.0,0.0,0.0

In [39]:
weather.to_csv('weather_clean.csv')

In [52]:
weather

,DATE,AVG_WND_SPEED,PRCP,SNOW,SNOW_DEPTH,TAVG,TMAX,TMIN,FOG,THUNDER,SLEET_OR_HAIL
53,2015-04-23,15.21,0.00,0.0,0.0,48.0,52,43,0.0,0.0,0.0
54,2015-04-24,16.55,0.00,0.0,0.0,47.0,57,39,0.0,0.0,0.0
55,2015-04-25,9.17,0.00,0.0,0.0,48.0,58,37,0.0,0.0,0.0
56,2015-04-26,7.38,0.00,0.0,0.0,54.0,64,45,0.0,0.0,0.0
57,2015-04-27,11.18,0.00,0.0,0.0,54.0,60,48,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
1671,2019-09-27,4.92,0.00,0.0,0.0,69.0,79,58,0.0,0.0,0.0
1672,2019-09-28,6.71,0.16,0.0,0.0,72.0,85,62,1.0,1.0,0.0
1673,2019-09-29,7.16,0.00,0.0,0.0,76.0,82,67,1.0,0.0,0.0
1674,2019-09-30,7.61,0.00,0.0,0.0,69.0,75,62,0.0,0.0,0.0
1675,2019-10-01,8.28,0.00,0.0,0.0,71.0,84,65,0.0,0.0,0.0

In [53]:
df

,bike_id,start_lat,start_lon,start_station_id,start_time,hour_of_day,month
0,3350,39.9501,-75.1447,3046.0,2015-04-23 07:44:00,7,4
1,3350,39.9501,-75.1447,3046.0,2015-04-23 07:45:00,7,4
2,3282,39.9644,-75.18,3057.0,2015-04-23 07:46:00,7,4
3,3350,39.9538,-75.1637,3004.0,2015-04-23 10:13:00,10,4
4,2716,39.9538,-75.1637,3004.0,2015-04-23 10:14:00,10,4
...,...,...,...,...,...,...,...
3123632,3303,39.9422,-75.1775,3012.0,2019-09-30 23:52:00,23,9
3123633,5194,39.9644,-75.1799,3057.0,2019-09-30 23:52:00,23,9
3123634,5219,39.9626,-75.1617,3059.0,2019-09-30 23:55:00,23,9
3123635,6694,39.9626,-75.1617,3059.0,2019-09-30 23:56:00,23,9
3123636,19946,39.9323,-75.1815,3053.0,2019-09-30 23:59:00,23,9

In [54]:
df["DATE"] = pd.to_datetime(df["start_time"]).dt.strftime('%Y-%m-%d')

In [55]:
df

,bike_id,start_lat,start_lon,start_station_id,start_time,hour_of_day,month,DATE
0,3350,39.9501,-75.1447,3046.0,2015-04-23 07:44:00,7,4,2015-04-23
1,3350,39.9501,-75.1447,3046.0,2015-04-23 07:45:00,7,4,2015-04-23
2,3282,39.9644,-75.18,3057.0,2015-04-23 07:46:00,7,4,2015-04-23
3,3350,39.9538,-75.1637,3004.0,2015-04-23 10:13:00,10,4,2015-04-23
4,2716,39.9538,-75.1637,3004.0,2015-04-23 10:14:00,10,4,2015-04-23
...,...,...,...,...,...,...,...,...
3123632,3303,39.9422,-75.1775,3012.0,2019-09-30 23:52:00,23,9,2019-09-30
3123633,5194,39.9644,-75.1799,3057.0,2019-09-30 23:52:00,23,9,2019-09-30
3123634,5219,39.9626,-75.1617,3059.0,2019-09-30 23:55:00,23,9,2019-09-30
3123635,6694,39.9626,-75.1617,3059.0,2019-09-30 23:56:00,23,9,2019-09-30
3123636,19946,39.9323,-75.1815,3053.0,2019-09-30 23:59:00,23,9,2019-09-30

In [56]:
df2 = df.merge(weather, how='left',on='DATE')

In [57]:
df2

,bike_id,start_lat,start_lon,start_station_id,start_time,hour_of_day,month,DATE,AVG_WND_SPEED,PRCP,SNOW,SNOW_DEPTH,TAVG,TMAX,TMIN,FOG,THUNDER,SLEET_OR_HAIL
0,3350,39.9501,-75.1447,3046.0,2015-04-23 07:44:00,7,4,2015-04-23,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0
1,3350,39.9501,-75.1447,3046.0,2015-04-23 07:45:00,7,4,2015-04-23,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0
2,3282,39.9644,-75.18,3057.0,2015-04-23 07:46:00,7,4,2015-04-23,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0
3,3350,39.9538,-75.1637,3004.0,2015-04-23 10:13:00,10,4,2015-04-23,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0
4,2716,39.9538,-75.1637,3004.0,2015-04-23 10:14:00,10,4,2015-04-23,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3123632,3303,39.9422,-75.1775,3012.0,2019-09-30 23:52:00,23,9,2019-09-30,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0
3123633,5194,39.9644,-75.1799,3057.0,2019-09-30 23:52:00,23,9,2019-09-30,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0
3123634,5219,39.9626,-75.1617,3059.0,2019-09-30 23:55:00,23,9,2019-09-30,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0
3123635,6694,39.9626,-75.1617,3059.0,2019-09-30 23:56:00,23,9,2019-09-30,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0
3123636,19946,39.9323,-75.1815,3053.0,2019-09-30 23:59:00,23,9,2019-09-30,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0

In [58]:
df2['COUNT'] = 1

In [59]:
df2

,bike_id,start_lat,start_lon,start_station_id,start_time,hour_of_day,month,DATE,AVG_WND_SPEED,PRCP,SNOW,SNOW_DEPTH,TAVG,TMAX,TMIN,FOG,THUNDER,SLEET_OR_HAIL,COUNT
0,3350,39.9501,-75.1447,3046.0,2015-04-23 07:44:00,7,4,2015-04-23,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0,1
1,3350,39.9501,-75.1447,3046.0,2015-04-23 07:45:00,7,4,2015-04-23,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0,1
2,3282,39.9644,-75.18,3057.0,2015-04-23 07:46:00,7,4,2015-04-23,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0,1
3,3350,39.9538,-75.1637,3004.0,2015-04-23 10:13:00,10,4,2015-04-23,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0,1
4,2716,39.9538,-75.1637,3004.0,2015-04-23 10:14:00,10,4,2015-04-23,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3123632,3303,39.9422,-75.1775,3012.0,2019-09-30 23:52:00,23,9,2019-09-30,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0,1
3123633,5194,39.9644,-75.1799,3057.0,2019-09-30 23:52:00,23,9,2019-09-30,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0,1
3123634,5219,39.9626,-75.1617,3059.0,2019-09-30 23:55:00,23,9,2019-09-30,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0,1
3123635,6694,39.9626,-75.1617,3059.0,2019-09-30 23:56:00,23,9,2019-09-30,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0,1
3123636,19946,39.9323,-75.1815,3053.0,2019-09-30 23:59:00,23,9,2019-09-30,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0,1

In [61]:
df3 = df2.groupby([ 'DATE', 'start_station_id', 'start_lat', 'start_lon', 'hour_of_day'], as_index=False).COUNT.sum()

In [62]:
df3 = df3.merge(weather, how='left',on='DATE')

In [63]:
df3

,DATE,start_station_id,start_lat,start_lon,hour_of_day,COUNT,AVG_WND_SPEED,PRCP,SNOW,SNOW_DEPTH,TAVG,TMAX,TMIN,FOG,THUNDER,SLEET_OR_HAIL
0,2015-04-23,3004.0,39.9538,-75.1637,10,5,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0
1,2015-04-23,3004.0,39.9538,-75.1637,12,3,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0
2,2015-04-23,3004.0,39.9538,-75.1637,13,2,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0
3,2015-04-23,3004.0,39.9538,-75.1637,14,1,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0
4,2015-04-23,3004.0,39.9538,-75.1637,15,5,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1444012,2019-09-30,3210.0,39.9849,-75.1567,9,3,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0
1444013,2019-09-30,3210.0,39.9849,-75.1567,10,1,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0
1444014,2019-09-30,3210.0,39.9849,-75.1567,11,1,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0
1444015,2019-09-30,3210.0,39.9849,-75.1567,12,1,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0
1444016,2019-09-30,3210.0,39.9849,-75.1567,17,4,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0

In [64]:
df3['month'] = [r.month for r in pd.to_datetime(df3.DATE)]

In [65]:
df3

,DATE,start_station_id,start_lat,start_lon,hour_of_day,COUNT,AVG_WND_SPEED,PRCP,SNOW,SNOW_DEPTH,TAVG,TMAX,TMIN,FOG,THUNDER,SLEET_OR_HAIL,month
0,2015-04-23,3004.0,39.9538,-75.1637,10,5,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0,4
1,2015-04-23,3004.0,39.9538,-75.1637,12,3,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0,4
2,2015-04-23,3004.0,39.9538,-75.1637,13,2,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0,4
3,2015-04-23,3004.0,39.9538,-75.1637,14,1,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0,4
4,2015-04-23,3004.0,39.9538,-75.1637,15,5,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1444012,2019-09-30,3210.0,39.9849,-75.1567,9,3,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0,9
1444013,2019-09-30,3210.0,39.9849,-75.1567,10,1,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0,9
1444014,2019-09-30,3210.0,39.9849,-75.1567,11,1,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0,9
1444015,2019-09-30,3210.0,39.9849,-75.1567,12,1,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0,9
1444016,2019-09-30,3210.0,39.9849,-75.1567,17,4,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0,9

In [66]:
df3['year'] = [r.year for r in pd.to_datetime(df3.DATE)]

In [67]:
df3

,DATE,start_station_id,start_lat,start_lon,hour_of_day,COUNT,AVG_WND_SPEED,PRCP,SNOW,SNOW_DEPTH,TAVG,TMAX,TMIN,FOG,THUNDER,SLEET_OR_HAIL,month,year
0,2015-04-23,3004.0,39.9538,-75.1637,10,5,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0,4,2015
1,2015-04-23,3004.0,39.9538,-75.1637,12,3,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0,4,2015
2,2015-04-23,3004.0,39.9538,-75.1637,13,2,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0,4,2015
3,2015-04-23,3004.0,39.9538,-75.1637,14,1,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0,4,2015
4,2015-04-23,3004.0,39.9538,-75.1637,15,5,15.21,0.0,0.0,0.0,48.0,52,43,0.0,0.0,0.0,4,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1444012,2019-09-30,3210.0,39.9849,-75.1567,9,3,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0,9,2019
1444013,2019-09-30,3210.0,39.9849,-75.1567,10,1,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0,9,2019
1444014,2019-09-30,3210.0,39.9849,-75.1567,11,1,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0,9,2019
1444015,2019-09-30,3210.0,39.9849,-75.1567,12,1,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0,9,2019
1444016,2019-09-30,3210.0,39.9849,-75.1567,17,4,7.61,0.0,0.0,0.0,69.0,75,62,0.0,0.0,0.0,9,2019

In [68]:
df3.to_csv('final_data_latlon.csv')