In [1]:
import pandas as pd

In [19]:
data = pd.read_csv("clean_data.csv")

In [3]:
data

,Unnamed: 0,bike_id,end_time,start_lat,start_lon,start_station_id,start_time
0,0,3350.0,4/23/15 7:45,39.9501,-75.1447,3046.0,4/23/15 7:44
1,1,3350.0,4/23/15 7:46,39.9501,-75.1447,3046.0,4/23/15 7:45
2,2,3282.0,4/23/15 7:48,39.9644,-75.18,3057.0,4/23/15 7:46
3,3,3350.0,4/23/15 10:14,39.9538,-75.1637,3004.0,4/23/15 10:13
4,4,2716.0,4/23/15 10:17,39.9538,-75.1637,3004.0,4/23/15 10:14
...,...,...,...,...,...,...,...
3123632,275192,3303,10/1/2019 1:18,39.9422,-75.1775,3012.0,9/30/2019 23:52
3123633,275193,5194,10/1/2019 0:06,39.9644,-75.1799,3057.0,9/30/2019 23:52
3123634,275194,5219,9/30/2019 23:56,39.9626,-75.1617,3059.0,9/30/2019 23:55
3123635,275195,6694,10/1/2019 0:07,39.9626,-75.1617,3059.0,9/30/2019 23:56
3123636,275196,19946,10/1/2019 0:05,39.9323,-75.1815,3053.0,9/30/2019 23:59

In [21]:
data = data.drop(['Unnamed: 0'], axis=1)

In [24]:
data['start_time']

0             4/23/15 7:44
1             4/23/15 7:45
2             4/23/15 7:46
3            4/23/15 10:13
4            4/23/15 10:14
                ...
3123632    9/30/2019 23:52
3123633    9/30/2019 23:52
3123634    9/30/2019 23:55
3123635    9/30/2019 23:56
3123636    9/30/2019 23:59
Name: start_time, Length: 3123637, dtype: object

In [29]:
data['start_time'] =  pd.to_datetime(data['start_time'])

In [30]:
data.start_time

0         2015-04-23 07:44:00
1         2015-04-23 07:45:00
2         2015-04-23 07:46:00
3         2015-04-23 10:13:00
4         2015-04-23 10:14:00
                  ...
3123632   2019-09-30 23:52:00
3123633   2019-09-30 23:52:00
3123634   2019-09-30 23:55:00
3123635   2019-09-30 23:56:00
3123636   2019-09-30 23:59:00
Name: start_time, Length: 3123637, dtype: datetime64[ns]

In [10]:
data['hour_of_day'] = [r.hour for r in pd.to_datetime(data.start_time)]

KeyboardInterrupt:

In [31]:
data.to_csv("clean_data_2.csv")

In [44]:
df = pd.read_csv('clean_data_2.csv')

/home/rebecca/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [45]:
df['hour_of_day'] = [r.hour for r in pd.to_datetime(df.start_time)]
df['month'] = [r.month for r in pd.to_datetime(df.start_time)]

In [46]:
df.hour_of_day

0           7
1           7
2           7
3          10
4          10
           ..
3123632    23
3123633    23
3123634    23
3123635    23
3123636    23
Name: hour_of_day, Length: 3123637, dtype: int64

In [47]:
df.month

0          4
1          4
2          4
3          4
4          4
          ..
3123632    9
3123633    9
3123634    9
3123635    9
3123636    9
Name: month, Length: 3123637, dtype: int64

In [48]:
df = df.drop(['end_time', 'Unnamed: 0'], axis=1)

In [49]:
df

,bike_id,start_lat,start_lon,start_station_id,start_time,hour_of_day,month
0,3350.0,39.9501,-75.1447,3046.0,2015-04-23 07:44:00,7,4
1,3350.0,39.9501,-75.1447,3046.0,2015-04-23 07:45:00,7,4
2,3282.0,39.9644,-75.18,3057.0,2015-04-23 07:46:00,7,4
3,3350.0,39.9538,-75.1637,3004.0,2015-04-23 10:13:00,10,4
4,2716.0,39.9538,-75.1637,3004.0,2015-04-23 10:14:00,10,4
...,...,...,...,...,...,...,...
3123632,3303,39.9422,-75.1775,3012.0,2019-09-30 23:52:00,23,9
3123633,5194,39.9644,-75.1799,3057.0,2019-09-30 23:52:00,23,9
3123634,5219,39.9626,-75.1617,3059.0,2019-09-30 23:55:00,23,9
3123635,6694,39.9626,-75.1617,3059.0,2019-09-30 23:56:00,23,9
3123636,19946,39.9323,-75.1815,3053.0,2019-09-30 23:59:00,23,9

In [51]:
weather = pd.read_csv('weather_data.csv')

In [53]:
weather.STATION.unique()

array(['USW00013739'], dtype=object)

In [54]:
weather = weather.drop(['STATION'], axis=1)

In [56]:
weather.columns.values

array(['NAME', 'DATE', 'AWND', 'PGTM', 'PRCP', 'PSUN', 'SNOW', 'SNWD',
       'TAVG', 'TMAX', 'TMIN', 'TSUN', 'WDF2', 'WDF5', 'WESD', 'WSF2',
       'WSF5', 'WT01', 'WT02', 'WT03', 'WT04', 'WT05', 'WT06', 'WT08',
       'WT09'], dtype=object)